<section class="standard-form">
  {{#each ctx.chains}}

  {{#each this}}
  <div data-advancement-uuid="{{advancement.uuid}}">

    <h3 class="section-header">
      <span>{{advancement.name}}</span>
      {{#if isChoice}}
      <button type="button" class="icon fa-solid fa-fw {{ifThen isConfigured 'fa-check' 'fa-cog'}}" data-action="configureNode"></button>
      {{/if}}
    </h3>

    {{#each choices}}
    {{#if isChosen}}
    <div class="form-group" data-item-uuid="{{item.uuid}}">
      <label>{{{itemLink.outerHTML}}}</label>
    </div>
    {{/if}}
    {{/each}}
  </div>
  {{/each}}

  {{#unless @last}}
  <hr>
  {{/unless}}

  {{/each}}
</section>
