<section class="standard-form">
  {{#each ctx.chains}}

  {{#each this}}
  <div data-advancement-uuid="{{advancement.uuid}}" style="margin-left: calc({{depth}} * 2rem);">
    <h5>{{advancement.name}}</h5>

    {{#each choices}}
    <div class="form-group" data-item-uuid="{{item.uuid}}">
      <label>{{{link.outerHTML}}}</label>
      <div class="form-fields">
        {{#if ../isChoice}}
        <input type="checkbox" data-change="changeOptionalAdvancement" {{checked (lookup ../selected item.id)}} {{disabled (or (not ../isChoice) (and (not (lookup ../selected item.id )) ../capped))}}>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </div>
  {{/each}}

  {{#unless @last}}
  <hr>
  {{/unless}}

  {{/each}}
</section>
