<div class="{{#if active}}active{{/if}}">
  {{#if active}}
  {{#each turns}}
  {{#unless hide}}
  <div class="{{cssClasses}}" data-action="selectCombatant" data-idx="{{idx}}" style="--combatant-left-idx: {{left}};" data-id="{{combatant.id}}">
    <img class="avatar" src="{{token.texture.src}}" alt="">
    <div class="actions">
      {{#if canPing}}
      <a data-action="pingCombatant" data-tooltip="ARTICHRON.Combat.PingCombatant"><i class="fa-solid fa-bullseye-arrow"></i></a>
      {{/if}}
      {{#if @root.isGM}}
      <a class="{{#if combatant.hidden}}active{{/if}}" data-action="toggleHidden" data-tooltip="ARTICHRON.Combat.ToggleHidden"><i class="fa-solid fa-eye-slash"></i></a>
      {{/if}}
      {{#if isOwner}}
      <a class="{{#if defeated}}active{{/if}}" data-action="toggleDefeated" data-tooltip="ARTICHRON.Combat.ToggleDefeated"><i class="fa-solid fa-skull"></i></a>
      {{/if}}
    </div>
    <a class="name" data-tooltip="{{combatant.name}}">{{combatant.name}}</a>
    {{#if isObserver}}
    <span class="health" style="--health-width: {{health.pct}}%;" data-tooltip="{{localize 'ARTICHRON.Combat.HealthBar' value=health.value max=health.max}}">
      <span class="bar"></span>
    </span>
    {{/if}}
    <div class="pips" data-tooltip="{{localize 'ARTICHRON.Combat.ActionPointsOverflow' n=ap.amount}}">
      {{#if isObserver}}
      {{#each ap.pips}}<span class="pip"></span>{{/each}}
      {{#if ap.overflow}}<i class="fa-solid fa-ellipsis"></i>{{/if}}
      {{/if}}
    </div>
    <div class="conditions">
      {{#each conditions}}
      <img src="{{img}}" alt="{{name}}" data-tooltip="{{name}}">
      {{/each}}
    </div>
  </div>
  {{/unless}}
  {{/each}}
  {{/if}}
</div>
