<div class="tab {{tabs.about.cssClass}}" data-group="{{tabs.about.group}}" data-tab="{{tabs.about.id}}">
  {{#if isEditMode}}
  {{formGroup compactItems.field value=compactItems.value blank="Default" name="flags.artichron.compactItems"}}
  {{/if}}

  <fieldset>
    <legend>{{localize "ARTICHRON.SHEET.LEGENDS.biography"}}</legend>
    {{#with biography}}
    {{formGroup field value=value enriched=enriched height=200 compact=true toggled=true disabled=@root.isPlayMode}}
    {{/with}}
  </fieldset>

  <fieldset>
    <legend>{{localize "ARTICHRON.SHEET.LEGENDS.details"}}</legend>
    {{#each details}}
    {{formGroup field value=value disabled=@root.isPlayMode max=max}}
    {{/each}}
  </fieldset>
</div>
