<div class="tab {{tabs.actions.cssClass}}" data-group="{{tabs.actions.group}}" data-tab="{{tabs.actions.id}}">
  {{> "systems/artichron/templates/actor/monster-defenses.hbs"}}

  <fieldset class="equipment">
    <legend>{{localize "ARTICHRON.SHEET.LEGENDS.equipment"}}</legend>
    {{#each equipment}}
    <div class="item {{#unless active}} empty {{/unless}}" {{#if dataset.itemUuid}} data-item-uuid="{{dataset.itemUuid}}" {{/if}}>
      <img src="{{item.img}}" alt="" {{#if active}} data-action="useItem" {{/if}} {{#if tooltip}} data-tooltip="{{tooltip}}" {{/if}}>
      {{#if @root.isEditMode}}
      <div class="controls">
        <a data-action="changeEquipped" data-equipment-slot="{{dataset.equipmentSlot}}">
          <i class="fa-solid fa-shield-alt"></i>
        </a>
      </div>
      {{/if}}
    </div>
    {{/each}}
  </fieldset>

  <div class="inventory-list {{#if compactItems.compact}}compact{{/if}}">
    <header>
      <span class="label">{{localize "ARTICHRON.MONSTER.INVENTORY.favorites"}}</span>
    </header>

    {{#each items.favorites}}
    {{inventoryItem item enriched=enriched}}
    {{/each}}
  </div>

  <div class="inventory-list {{#if compactItems.compact}}compact{{/if}}">
    <header>
      <span class="label">{{localize "ARTICHRON.MONSTER.INVENTORY.inventory"}}</span>
      {{#if @root.isEditMode}}
      <button class="controls" type="button" data-action="createItem" data-tooltip="ARTICHRON.MONSTER.INVENTORY.create">
        <i class="fa-solid fa-plus"></i>
      </button>
      {{/if}}
    </header>

    {{#each items.items}}
    {{inventoryItem item enriched=enriched}}
    {{/each}}
  </div>
</div>
