<section class="tab details scrollable {{tabs.details.cssClass}}" data-group="primary" data-tab="details">
  {{!-- COST --}}
  <h3 class="section-header">{{localize "ARTICHRON.SHEET.ACTIVITY.HEADERS.configuration"}}</h3>
  {{formGroup fields.cost.fields.value value=source.cost.value name="cost.value" placeholder="1"}}

  {{!-- TARGET --}}
  {{#if ctx.showTarget}}
  <h3 class="section-header">{{localize "ARTICHRON.SHEET.ACTIVITY.HEADERS.targeting"}}</h3>
  {{formGroup fields.target.fields.type value=source.target.type options=ctx.targetTypeOptions name="target.type"}}
  {{#if ctx.hasTemplate}}
  {{formGroup fields.target.fields.duration value=source.target.duration name="target.duration"}}
  {{/if}}

  {{#if ctx.showCount}}
  {{formGroup fields.target.fields.count value=source.target.count name="target.count" placeholder="1"}}
  {{/if}}

  {{#if ctx.showSize}}
  {{formGroup fields.target.fields.size value=source.target.size name="target.size" placeholder="1"}}
  {{/if}}

  {{#if ctx.showRange}}
  {{formGroup fields.target.fields.range value=source.target.range name="target.range" placeholder="1"}}
  {{/if}}

  {{#if ctx.showWidth}}
  {{formGroup fields.target.fields.width value=source.target.width name="target.width" placeholder="1"}}
  {{/if}}
  {{/if}}

  {{!-- HEALING --}}
  {{#if (eq pseudoDocument.type "healing")}}
  <h3 class="section-header">{{localize "ARTICHRON.SHEET.ACTIVITY.HEADERS.healing"}}</h3>
  <div class="form-group">
    <label>{{localize "ARTICHRON.SHEET.ACTIVITY.formula"}}</label>
    <div class="form-fields">
      {{formGroup fields.healing.fields.number value=source.healing.number name="healing.number" classes="label-top" placeholder="1"}}
      {{formGroup fields.healing.fields.faces value=source.healing.faces name="healing.faces" classes="label-top"}}
    </div>
  </div>
  {{/if}}

  {{!-- EFFECT --}}
  {{#if (eq pseudoDocument.type "effect")}}
  <h3 class="section-header">{{localize "ARTICHRON.SHEET.ACTIVITY.HEADERS.effects"}}</h3>
  {{formGroup fields.effects.fields.ids value=source.effects.ids options=ctx.effectOptions classes="stacked" name="effects.ids"}}

  <div class="form-group">
    <label>{{localize "ARTICHRON.SHEET.ACTIVITY.statuses"}}</label>
    <div class="form-fields">
      <select id="{{rootId}}-status-select">{{selectOptions ctx.statusOptions}}</select>
      <button type="button" class="icon fa-solid fa-circle-plus" data-action="addStatusOption" {{disabled (not ctx.statusOptions.length)}}></button>
    </div>
    <p class="hint">{{localize "ARTICHRON.SHEET.ACTIVITY.statusesHint"}}</p>
  </div>
  {{#each ctx.statuses}}
  <div class="form-group" data-status="{{status}}">
    <label>{{label}}</label>
    <div class="form-fields">
      {{#if rounds.show}}
      {{formGroup @root.fields.effects.fields.statuses.element.fields.rounds value=rounds.value name=(concat "effects.statuses." status ".rounds") classes="label-top"}}
      {{/if}}
      {{#if levels.show}}
      {{formGroup @root.fields.effects.fields.statuses.element.fields.levels value=levels.value max=levels.max type="number" name=(concat "effects.statuses." status ".levels") classes="label-top"}}
      {{/if}}
      <button type="button" class="icon fa-solid fa-trash" data-action="removeStatusOption"></button>
    </div>
  </div>
  {{/each}}
  {{/if}}

  {{!-- TELEPORT --}}
  {{#if (eq pseudoDocument.type "teleport")}}
  <h3 class="section-header">{{localize "ARTICHRON.SHEET.ACTIVITY.HEADERS.teleport"}}</h3>
  {{formGroup fields.teleport.fields.distance value=source.teleport.distance name="teleport.distance"}}
  {{/if}}
</section>
