<fieldset>
  {{~#if ctx.show}}
  <legend>{{ctx.legend}}</legend>
  {{#each ctx.damages}}
  <p class="damage">
    <span class="formula">{{formula}}</span>
    <span class="type">{{type}}</span>
  </p>
  {{/each}}

  {{#if ctx.ammo}}
  {{formGroup ctx.ammoField name="damage.ammoId" localize=true value=ctx.ammoId}}
  {{/if}}

  {{formGroup ctx.field name="damage.increase" localize=true}}
  {{/if~}}
</fieldset>
