<fieldset>
  {{~#if damage.show}}
  <legend>{{damage.legend}}</legend>
  {{#each damage.damages}}
  <p class="damage">
    <span class="formula">{{formula}}</span>
    <span class="type">{{type}}</span>
  </p>
  {{/each}}

  {{#if damage.ammo}}
  {{formGroup damage.ammoField name="damage.ammoId" localize=true value=damage.ammoId}}
  {{/if}}

  {{formGroup damage.field name="damage.increase" localize=true}}
  {{/if~}}
</fieldset>
