<nav class="inventory tabs" data-group="inventory">
  {{#each sections as |section|}}
  <a class="item inventory-tab" data-tab="{{key}}">{{localize section.label}}</a>
  {{/each}}
</nav>

{{#each sections as |section|}}
<div class="tab inventory-section" data-item-type="{{key}}" data-tab="{{key}}" data-group="inventory">
  {{#each section.items as |item|}}
  <div class="inventory-item" data-item-id="{{item.id}}">
    <a class="item-name">{{item.name}}</a>
    <div class="item-controls">
      <a class="item-control" data-action="edit-item"><i class="fa-solid fa-edit"></i></a>
    </div>
  </div>
  {{/each}}
</div>
{{/each}}
