<header class="section-header">
  {{localize "ARTICHRON.ResistancePl"}}
</header>
<div class="resistance-bars darken" data-tooltip-direction="UP">
  {{#unless isEditMode}}
  <div class="resistance" style="color: #{{config.DAMAGE_TYPES.physical.color}}" data-tooltip="{{config.DAMAGE_TYPES.physical.label}}">
    <span class="total">{{system.defenses.armor.value}}</span>
    <i class="fa-solid fa-shield-alt"></i>
  </div>
  {{/unless}}
  {{#each context.resistances}}
  {{#if (or @root.isEditMode total)}}
  <div class="resistance" style="color: #{{color}}" data-tooltip="{{label}}">
    {{#if @root.isEditMode}}
    <input type="text" name="system.resistances.{{key}}.bonus" value="{{source.bonus}}">
    {{else}}
    <span class="total">{{total}}</span>
    {{/if}}
    <i class="{{icon}}"></i>
  </div>
  {{/if}}
  {{/each}}
</div>
