<header class="section-header">
  {{localize "ARTICHRON.Pools"}}
  <a class="edit" data-action="toggle-config" data-tooltip="ARTICHRON.EditPools" data-trait="pools">
    <i class="fa-solid fa-cog"></i>
  </a>
</header>
{{#each actor.system.pools}}
<div class="form-group pool">
  <label data-action="roll-pool" data-pool="{{@key}}" class="rollable">{{localize (concat "ARTICHRON." (capitalize @key))}}</label>
  <input class="tiny delta" type="text" name="system.pools.{{@key}}.value" value="{{value}}">
  <span class="sep">/</span>
  <span class="pool-max die {{die}} {{@key}}" data-tooltip="{{max}}{{die}}">{{max}}</span>
</div>
{{/each}}
