<div class="equipped-items" data-collection="items">
  <div class="backdrop" style="background-image: url({{actor.img}})"></div>
  {{#each context.equipped}}
  <div class="equipped {{cssClass}}" data-tooltip-direction="UP" data-tooltip="{{tooltip}}" {{#if item}} data-item-id="{{item.id}}" {{/if}}>
    <img src="{{img}}" {{#each data}} {{#if this}} data-{{@key}}="{{this}}" {{/if}} {{/each}}>
    {{#if item}}
    <a class="edit fa-solid fa-edit" data-control="edit" data-action="control" data-tooltip="ARTICHRON.EditItem"></a>
    {{/if}}
  </div>
  {{/each}}
</div>
