<div class="{{tabs.inventory.tabCssClass}}" data-group="primary" data-tab="inventory">

  <nav class="inventory tabs" style="margin-bottom: 4px;">
    {{#each items}}
    <a class="{{cssClass}}" data-action="tab" data-tab="{{id}}" data-group="inventory">{{localize label}}</a>
    {{/each}}
  </nav>

  {{#each items}}
  <div class="{{tabCssClass}}" data-tab="{{id}}" data-group="inventory">

    <header>
      <span class="name"></span>
      <span class="properties"></span>
      <button class="controls" type="button" data-action="createItem" data-tooltip="ARTICHRON.SheetActions.CreateItem" data-section="{{id}}">
        <i class="fa-solid fa-plus"></i>
      </button>
    </header>

    {{#each items}}
    <div class="item {{#if isExpanded}}expanded no-transition{{/if}}" data-item-uuid="{{item.uuid}}">

      <a class="wrapper" data-action="toggleDescription">
        <img src="{{item.img}}" alt="{{item.name}}" class="image" data-action="useItem">
        <label class="name">{{item.name}}</label>
      </a>

      {{#if hasUses}}
      <div class="property usage">
        <div class="counter">
          <input type="text" class="delta" id="{{item.id}}" value="{{item.system.usage.value}}" data-action="updateEmbedded" data-property="system.usage.value" placeholder="0" max="{{item.system.usage.max}}">
          <span class="sep">/</span>
          <span class="max">{{item.system.usage.max}}</span>
        </div>
        <span class="label">{{localize "ARTICHRON.ItemProperty.Usage"}}</span>
      </div>
      {{/if}}

      {{#if hasQty}}
      <div class="property quantity">
        <div class="counter">
          <input type="text" class="delta" id="{{item.id}}" value="{{item.system.quantity.value}}" data-action="updateEmbedded" data-property="system.quantity.value" placeholder="0">
        </div>
        <span class="label">{{localize "ARTICHRON.ItemProperty.Quantity"}}</span>
      </div>
      {{/if}}

      {{#if ../fusions}}
      <div class="property fusion">
        {{#if hasFusions}}
        <a data-action="fuseItem" data-tooltip="ARTICHRON.SheetActions.FuseItem">
          <i class="fa-solid fa-volcano"></i>
        </a>
        {{/if}}
      </div>
      {{/if}}

      <div class="controls">
        <a class="control" data-action="favoriteItem"><i class="fa-{{ifThen favorited 'solid' 'regular'}} fa-star"></i></a>
        <a class="control" data-action="editItem"><i class="fa-solid fa-edit"></i></a>
        {{#if @root.isEditMode}}
        <a class="control" data-action="deleteItem"><i class="fa-solid fa-trash"></i></a>
        {{/if}}
      </div>

      <div class="description-wrapper">
        {{#if isExpanded}}
        <div class="description">{{{enrichedText}}}</div>
        {{/if}}
      </div>

    </div>
    {{/each}}

  </div>
  {{/each}}

</div>
