<nav class="effects tabs" data-group="effects">
  {{#each sections as |section key|}}
  <a class="item effects-tab" data-tab="{{key}}">{{localize section.label}}</a>
  {{/each}}
</nav>

{{#each sections as |section|}}
<div class="tab effects-section" data-active="{{key}}" data-tab="{{key}}" data-group="effects" data-collection="effects">
  <h4 class="items-list-header rollable" data-action="control" data-control="create">
    {{localize "ARTICHRON.EffectCreate"}}
    <i class="fa-solid fa-plus"></i>
  </h4>
  <div class="items-list">
    {{#each section.data as |data|}}
    <div class="effects-item" data-item-id="{{data.effect.id}}" {{#if data.isItem}} data-parent-id="{{data.effect.parent.id}}" {{/if}}>
      <a class="item-name">{{data.effect.name}} {{#if isItem}}({{data.effect.parent.name}}){{/if}}</a>
      <div class="item-controls">
        <a class="item-control" data-control="toggle" data-action="control"><i class="fa-solid {{data.icon}}"></i></a>
        <a class="item-control" data-control="edit" data-action="control"><i class="fa-solid fa-edit"></i></a>
        <a class="item-control" data-control="delete" data-action="control"><i class="fa-solid fa-trash"></i></a>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/each}}
