<div class="{{tabs.equipped.tabCssClass}}" data-group="primary" data-tab="equipped">

  <div class="backdrop border"></div>
  <div class="backdrop image" style="background-image: url({{document.img}})"></div>
  {{#if isEditMode}}
  <div class="edit" data-action="editImage"></div>
  {{/if}}
  {{#each equipped}}
  <div class="equipped {{cssClass}}" data-tooltip-direction="UP" data-tooltip="{{tooltip}}" {{#if item}} data-item-uuid="{{item.uuid}}" {{/if}}>
    <div class="equipped-item" {{#each data}} {{#if this}} data-{{@key}}="{{this}}" {{/if}} {{/each}}>
      <img src="{{img}}" data-action="useItem">
      <div class="expand-out">
        <div class="controls">
          {{#if item}}
          <a class="control" data-action="editItem"><i class="fa-solid fa-edit"></i> {{localize "ARTICHRON.EditItem"}}</a>
          {{/if}}
          <a class="control" data-action="changeEquipped"><i class="fa-solid fa-shield"></i> {{localize "ARTICHRON.ChangeItem"}}</a>
        </div>
        <div class="content">{{{item.system.description.value}}}</div>
      </div>
    </div>
  </div>
  {{/each}}

</div>
