<header class="section-header">
  {{localize "ARTICHRON.Resistances"}}
  <a class="edit" data-action="toggle-config" data-trait="resistances" data-tooltip="ARTICHRON.EditResistances">
    <i class="fa-solid fa-cog"></i>
  </a>
</header>
<div class="resistance-bars">
  {{#each context.resistances}}
  <div class="resistance" style="color: #{{color}}">
    <div class="resistance-bar">
      <span class="total">{{total}}</span>
      <span class="bar" style="background-color: #{{color}}; height: {{height}}%"></span>
    </div>
    <i class="{{icon}}"></i>
  </div>
  {{/each}}
</div>
