<header class="section-header">
  {{localize "ARTICHRON.Pools.Section"}}
  {{#if sheet.isEditMode}}
  <a class="edit" data-action="toggleConfig" data-tooltip="ARTICHRON.EditSkills" data-trait="skills" style="right: 25px">
    <i class="fa-solid fa-cog"></i>
  </a>
  <a class="edit" data-action="toggleConfig" data-tooltip="ARTICHRON.EditPools" data-trait="pools">
    <i class="fa-solid fa-cog"></i>
  </a>
  {{/if}}
</header>
<div class="pool-rolls darken">
  <div class="pools">
    {{#each context.pools as |pool|}}
    <a class="pool" data-action="rollPool" data-pool="{{pool.key}}">
      <span class="die {{pool.denom}} {{pool.key}}" data-tooltip="{{pool.value}} / {{pool.max}} ({{pool.die}})">{{pool.value}}</span>
    </a>
    {{/each}}
  </div>

  <div class="skill-buttons">
    <button type="button" data-action="rollSkill" data-skill="head">Roll Head</button>
    <button type="button" data-action="rollSkill" data-skill="arms">Roll Arms</button>
    <button type="button" data-action="rollSkill" data-skill="legs">Roll Legs</button>
  </div>
</div>
