<nav class="inventory tabs" data-group="inventory">
  {{#each sections as |section|}}
  <a class="item inventory-tab" data-tab="{{key}}">{{localize section.label}}</a>
  {{/each}}
</nav>

{{#each sections as |section|}}
<div class="tab document-section" data-item-type="{{key}}" data-tab="{{key}}" data-group="inventory">
  <h4 class="documents-list-header" data-action="createItem">
    {{localize "ARTICHRON.ItemCreate"}}
    <i class="fa-solid fa-plus"></i>
  </h4>
  <div class="documents-list">
    {{#each section.items}}
    <div class="document-item" data-item-uuid="{{item.uuid}}">
      <div class="item-name"><a data-action="useItem">{{item.name}}</a></div>
      {{#if hasUsage}}
      <div class="document-input">
        <input class="tiny" type="text" value="{{item.system.usage.value}}" data-action="updateEmbedded" data-property="system.usage.value" placeholder="0">
        <span class="sep">/ {{item.system.usage.max}} {{localize "ARTICHRON.ItemProperty.Usage"}}</span>
      </div>
      {{/if}}
      {{#if hasQty}}
      <div class="document-input">
        <input class="tiny" type="text" value="{{item.system.quantity.value}}" data-action="updateEmbedded" data-property="system.quantity.value" placeholder="0">
        <span class="sep">{{localize "ARTICHRON.ItemProperty.Quantity"}}</span>
      </div>
      {{/if}}
      <div class="item-controls">
        <a class="item-control" data-action="favoriteItem"><i class="fa-{{ifThen favorited 'solid' 'regular'}} fa-star"></i></a>
        <a class="item-control" data-action="editItem"><i class="fa-solid fa-edit"></i></a>
        <a class="item-control" data-action="deleteItem"><i class="fa-solid fa-trash"></i></a>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/each}}
