<div class="tab scrollable {{ifThen tabs.effects.active 'active' ''}}" data-group="primary" data-tab="effects">
  {{#each effects}}
  <div class="effect" data-item-uuid="{{uuid}}" data-tooltip="From '{{source}}'" data-tooltip-direction="UP">
    <div class="name" data-action="toggleEffect" style="opacity: {{ifThen disabled 0.25 1}}">
      <span>{{name}}</span>
      <div class="backdrop" style="background-image: url({{img}})"></div>
    </div>
    <a class="delete" data-action="deleteEffect">
      <i class="fa-solid fa-trash"></i>
    </a>
  </div>
  {{/each}}

  <button type="button" data-action="createEffect" data-tooltip="ARTICHRON.Effect.Add">
    <i class="fa-solid fa-plus"></i>
  </button>
</div>
