<div class="equipped-items">
  <div class="backdrop" style="background-image: url({{actor.img}})"></div>
  {{#each context.equipped}}
  <div class="equipped {{cssClass}} {{#unless item}}empty{{/unless}}" data-tooltip="{{tooltip}}">
    <img src="{{img}}" data-action="change-item" data-slot="{{slot}}">
  </div>
  {{/each}}
</div>
