<fieldset data-property="damage">
  <legend class="header">
    {{localize "ARTICHRON.Damage"}}
    <a class="action" data-action="add"><i class="fa-solid fa-plus"></i></a>
  </legend>

  {{#each system.damage as |damage idx|}}
  <div class="form-group damage">
    <div class="form-fields">
      <input type="text" class="formula" name="system.damage.{{idx}}.formula" value="{{damage.formula}}">
      <select class="type" name="system.damage.{{idx}}.type">
        <optgroup label="{{localize 'ARTICHRON.DamageTypeGroup.Physical'}}">
          {{selectOptions @root.context.damageTypes.physical selected=damage.type localize=true}}
        </optgroup>
        <optgroup label="{{localize 'ARTICHRON.DamageTypeGroup.Elemental'}}">
          {{selectOptions @root.context.damageTypes.elemental selected=damage.type localize=true}}
        </optgroup>
        <optgroup label="{{localize 'ARTICHRON.DamageTypeGroup.Planar'}}">
          {{selectOptions @root.context.damageTypes.planar selected=damage.type localize=true}}
        </optgroup>
      </select>
      <a class="action" data-action="del" data-idx="{{idx}}"><i class="fa-solid fa-minus"></i></a>
    </div>
  </div>
  {{/each}}
</fieldset>
