<div class="{{tabs.details.tabCssClass}} standard-form" data-group="primary" data-tab="details">
  {{> "systems/artichron/templates/partials/item-type.hbs"}}

  {{#if sections.damage}}
  <fieldset>
    <legend>
      {{localize "ARTICHRON.ItemProperty.Fieldsets.Damages"}}
      {{#if isEditMode}}
      <a class="action" data-action="addDamage"><i class="fa-solid fa-plus"></i></a>
      {{/if}}
    </legend>

    {{#each damages.parts}}
    <div class="form-group damage" data-id="{{id.value}}">
      <div class="form-fields">
        <input type="text" name="{{id.name}}" value="{{id.value}}" hidden readonly>
        {{formInput formula.field value=formula.value disabled=formula.disabled name=formula.name}}
        {{formInput type.field value=type.value disabled=type.disabled name=type.name options=type.options}}
        {{#if @root.isEditMode}}
        <div class="controls">
          <a class="control" data-action="deleteDamage"><i class="fa-solid fa-minus"></i></a>
        </div>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </fieldset>
  {{/if}}

  {{#if sections.resistances}}
  <fieldset>
    <legend>{{localize "ARTICHRON.ItemProperty.Fieldsets.Resistances"}}</legend>

    {{#each resistances}}
    {{formField field value=value disabled=disabled localize=true}}
    {{/each}}
  </fieldset>
  {{/if}}

</div>
