<div class="{{tabs.details.tabCssClass}} standard-form" data-group="primary" data-tab="details">
  {{> "systems/artichron/templates/partials/item-type.hbs"}}

  {{#if sections.damage}}
  <fieldset>
    <legend>
      {{localize "ARTICHRON.ItemProperty.Damage.Parts"}}
      {{#if isEditMode}}
      <a class="action" data-action="addDamage"><i class="fa-solid fa-plus"></i></a>
      {{/if}}
    </legend>

    {{#each damages.parts as |damage idx|}}
    <div class="form-group damage" data-id="{{damage.id}}">
      <div class="form-fields">
        <input type="text" name="system.damage.parts.{{idx}}.id" value="{{damage.id}}" hidden readonly>
        <input type="text" class="formula" name="system.damage.parts.{{idx}}.formula" value="{{damage.formula}}" {{disabled @root.isPlayMode}}>
        <select class="type" name="system.damage.parts.{{idx}}.type" {{disabled @root.isPlayMode}}>
          <optgroup label="{{@root.config.DAMAGE_TYPE_GROUPS.physical.label}}">
            {{selectOptions @root.damageTypes.physical selected=damage.type}}
          </optgroup>
          <optgroup label="{{@root.config.DAMAGE_TYPE_GROUPS.elemental.label}}">
            {{selectOptions @root.damageTypes.elemental selected=damage.type}}
          </optgroup>
          <optgroup label="{{@root.config.DAMAGE_TYPE_GROUPS.planar.label}}">
            {{selectOptions @root.damageTypes.planar selected=damage.type}}
          </optgroup>
        </select>
        {{#if @root.isEditMode}}
        <div class="controls">
          <a class="control" data-action="deleteDamage" data-idx="{{idx}}"><i class="fa-solid fa-minus"></i></a>
        </div>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </fieldset>
  {{/if}}

  {{#if sections.resistances}}
  <fieldset>
    <legend>{{localize "ARTICHRON.ItemProperty.ResistancePl"}}</legend>

    {{#each resistances}}
    {{formField field value=value disabled=disabled localize=true}}
    {{/each}}
  </fieldset>
  {{/if}}

</div>
