<fieldset data-property="damage">
  <legend class="header">
    {{localize "ARTICHRON.Damage"}}
    <a class="action" data-action="add"><i class="fa-solid fa-plus"></i></a>
  </legend>

  {{#each system.damage as |damage idx|}}
  <div class="form-group damage">
    <select class="type" name="system.damage.{{idx}}.faces">
      {{selectOptions @root.config.DIE_SIZES selected=damage.faces}}
    </select>
    <select class="type" name="system.damage.{{idx}}.type">
      {{selectOptions @root.config.DAMAGE_TYPES selected=damage.type labelAttr="label" localize=true sort=true blank=""}}
    </select>
    <a class="action" data-action="del" data-idx="{{idx}}"><i class="fa-solid fa-minus"></i></a>
  </div>
  {{/each}}
</fieldset>
