<div class="form-group">
  <label>{{localize "ARTICHRON.ItemPropertyCategory"}}</label>
  <select name="system.type.category">
    {{selectOptions context.categories selected=system.type.category localize=true labelAttr="label" blank="" sort=true}}
  </select>
</div>
{{#if context.subtypes}}
<div class="form-group">
  <label>{{localize "ARTICHRON.ItemPropertySubtype"}}</label>
  <select name="system.type.subtype">
    {{selectOptions context.subtypes selected=system.type.subtype localize=true labelAttr="label" blank="" sort=true}}
  </select>
</div>
{{/if}}
{{#if isArmor}}
<div class="form-group">
  <label>{{localize "ARTICHRON.SetIdentifier"}}</label>
  <select name="system.identifier">
    {{selectOptions config.ARMOR_SETS selected=system.identifier localize=true labelAttr="label" blank="" sort=true}}
  </select>
</div>
{{/if}}
{{#if document.isEmbedded}}
<div class="form-group">
  <label>{{localize "ARTICHRON.Favorited"}}</label>
  <a class="action" data-action="control" data-control="favorite">
    <i class="fa-{{ifThen context.isFavorited 'solid' 'regular'}} fa-star"></i>
  </a>
</div>
{{/if}}
