{{#each sections as |section|}}
<div class="document-section" data-active="{{key}}" data-group="effects" data-collection="effects">
  <a class="documents-list-header" data-action="control" data-control="create">
    {{localize "ARTICHRON.EffectCreate"}} {{localize section.label}}
    <i class="fa-solid fa-plus"></i>
  </a>
  <div class="documents-list">
    {{#each section.data as |data|}}
    <div class="document-item" data-item-id="{{data.effect.id}}">
      <a class="item-name">{{data.effect.name}}</a>
      <div class="item-controls">
        <a class="item-control" data-control="toggle" data-action="control"><i class="fa-solid {{data.icon}}"></i></a>
        <a class="item-control" data-control="edit" data-action="control"><i class="fa-solid fa-edit"></i></a>
        <a class="item-control" data-control="delete" data-action="control"><i class="fa-solid fa-trash"></i></a>
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/each}}
