{{#if context.subtypes}}
<div class="form-group">
  <label>{{localize "ARTICHRON.ItemProperty.Subtype"}}</label>
  <div class="form-fields">
    <select name="system.category.subtype" {{disabled (or document.isEquipped isPlayMode)}}>
      {{selectOptions context.subtypes selected=system.category.subtype localize=true labelAttr="label" blank="" sort=true}}
    </select>
  </div>
</div>
{{/if}}

{{#if isArmor}}
<div class="form-group">
  <label>{{localize "ARTICHRON.SetIdentifier"}}</label>
  <div class="form-fields">
    <select name="system.identifier" {{disabled isPlayMode}}>
      {{selectOptions config.ARMOR_SETS selected=document.system.identifier localize=true labelAttr="label" blank="" sort=true}}
    </select>
  </div>
</div>
{{/if}}

{{#if system.wield}}
<div class="form-group">
  <label>{{localize "ARTICHRON.ItemProperty.Wield"}}</label>
  <div class="form-fields">
    {{formInput document.system.schema.fields.wield.fields.value value=document.system.wield.value disabled=(or document.isEquipped isPlayMode) localize=true}}
  </div>
</div>
{{/if}}

{{#if system.range}}
<div class="form-group">
  <label>{{localize "ARTICHRON.ItemProperty.Range"}}</label>
  <div class="form-fields">
    {{#if isEditMode}}
    {{formInput document.system.schema.fields.range.fields.value value=source.range.value}}
    {{else}}
    {{formInput document.system.schema.fields.range.fields.value value=document.system.range.value disabled=true}}
    {{/if}}
  </div>
</div>
{{/if}}

{{#if system.price}}
<div class="form-group">
  <label>{{localize "ARTICHRON.ItemProperty.Price"}}</label>
  <div class="form-fields">
    {{#if isPlayMode}}
    <input value="{{document.system.price.value}}" disabled>
    {{else}}
    <input class="delta" data-dtype="Number" type="text" name="system.price.value" value="{{source.price.value}}">
    {{/if}}
  </div>
</div>
{{/if}}

{{#if system.template}}
<div class="form-group">
  <label>{{localize "ARTICHRON.ItemProperty.Template"}}</label>
  <div class="form-fields">
    <multi-select name="system.template.types" {{disabled isPlayMode}}>
      {{#each context.templates}}
      <option value="{{key}}" {{ifThen selected "selected" ""}}>{{localize label}}</option>
      {{/each}}
    </multi-select>
  </div>
</div>
{{/if}}

{{#if system.weight}}
<div class="form-group">
  <label>{{localize "ARTICHRON.ItemProperty.Weight"}}</label>
  <div class="form-fields">
    {{#if isPlayMode}}
    <input type="text" value="{{document.system.weight.value}}" disabled>
    {{else}}
    <input class="delta" data-dtype="Number" type="text" name="system.weight.value" value="{{source.weight.value}}">
    {{/if}}
  </div>
</div>
{{/if}}

{{#if system.quantity}}
<div class="form-group">
  <label>{{localize "ARTICHRON.ItemProperty.Quantity"}}</label>
  <div class="form-fields">
    {{#if isPlayMode}}
    <input type="text" value="{{document.system.quantity.value}}" disabled>
    {{else}}
    <input class="delta" data-dtype="Number" type="text" name="system.quantity.value" value="{{source.quantity.value}}">
    {{/if}}
  </div>
</div>
{{/if}}

{{#if system.usage}}
<div class="form-group item-usage">
  <label>{{localize "ARTICHRON.ItemProperty.Usage"}}</label>
  <div class="form-fields">
    {{#if isPlayMode}}
    <input type="text" value="{{document.system.usage.value}}" disabled>
    {{else}}
    <input class="delta" data-dtype="Number" type="text" name="system.usage.value" value="{{source.usage.value}}">
    {{/if}}
    <span class="sep">{{localize "ARTICHRON.ItemUsageOf"}}</span>
    {{#if isPlayMode}}
    <input type="text" value="{{document.system.usage.max}}" disabled>
    {{else}}
    <input type="text" class="source" name="system.usage.max" value="{{source.usage.max}}">
    {{/if}}
  </div>
</div>
{{/if}}

{{#if document.isEmbedded}}
<div class="form-group">
  <label>{{localize "ARTICHRON.Favorited"}}</label>
  <a class="action" data-action="control" data-control="favorite">
    <i class="fa-{{ifThen context.isFavorited 'solid' 'regular'}} fa-star"></i>
  </a>
</div>
{{/if}}
