<fieldset data-property="damage">
  <legend class="header">
    {{localize "ARTICHRON.Damage"}}
    <a class="action" data-action="add"><i class="fa-solid fa-plus"></i></a>
  </legend>

  {{#each system.damage as |damage idx|}}
  <div class="form-group damage">
    <input class="value" type="text" name="system.damage.{{idx}}.value" value="{{damage.value}}">
    <select class="type" name="system.damage.{{idx}}.type">
      {{selectOptions @root.config.DAMAGE_TYPES selected=damage.type labelAttr="label" localize=true sort=true blank=""}}
    </select>
    <label class="checkbox optional">
      <input type="checkbox" name="system.damage.{{idx}}.optional" {{checked damage.optional}}>
      {{localize "ARTICHRON.Optional"}}
    </label>
    <a class="action" data-action="del" data-idx="{{idx}}"><i class="fa-solid fa-minus"></i></a>
  </div>
  {{/each}}
</fieldset>
