{{#if context.subtypes}}
<div class="form-group">
  <label>{{localize "ARTICHRON.ItemProperty.Subtype"}}</label>
  <div class="form-fields">
    <select name="system.category.subtype" {{disabled document.isEquipped}}>
      {{selectOptions context.subtypes selected=document.system.category.subtype localize=true labelAttr="label" blank="" sort=true}}
    </select>
  </div>
</div>
{{/if}}

{{#if isArmor}}
<div class="form-group">
  <label>{{localize "ARTICHRON.SetIdentifier"}}</label>
  <div class="form-fields">
    <select name="system.identifier">
      {{selectOptions config.ARMOR_SETS selected=document.system.identifier localize=true labelAttr="label" blank="" sort=true}}
    </select>
  </div>
</div>
{{/if}}

{{#if system.wield}}
<div class="form-group">
  <label>{{localize "ARTICHRON.ItemProperty.Wield"}}</label>
  <div class="form-fields">
    {{formInput document.system.schema.fields.wield.fields.value value=document.system.wield.value disabled=document.isEquipped localize=true}}
    <input type="number" name="system.wield.range" value="{{document.system.wield.range}}" placeholder="{{localize 'ARTICHRON.ItemProperty.Range'}}">
  </div>
</div>
{{/if}}

{{#if system.price}}
<div class="form-group">
  <label>{{localize "ARTICHRON.ItemProperty.Price"}}</label>
  <div class="form-fields">
    <input class="delta" data-dtype="Number" type="text" name="system.price.value" value="{{document.system.price.value}}">
  </div>
</div>
{{/if}}

{{#if system.template}}
<div class="form-group">
  <label>{{localize "ARTICHRON.ItemProperty.Template"}}</label>
  <div class="form-fields">
    <multi-select name="system.template.types">
      {{#each context.templates}}
      <option value="{{key}}" {{ifThen selected "selected" ""}}>{{localize label}}</option>
      {{/each}}
    </multi-select>
  </div>
</div>
{{/if}}

{{#if system.weight}}
<div class="form-group">
  <label>{{localize "ARTICHRON.ItemProperty.Weight"}}</label>
  <div class="form-fields">
    <input class="delta" data-dtype="Number" type="text" name="system.weight.value" value="{{document.system.weight.value}}">
  </div>
</div>
{{/if}}

{{#if system.quantity}}
<div class="form-group">
  <label>{{localize "ARTICHRON.ItemProperty.Quantity"}}</label>
  <div class="form-fields">
    <input class="delta" data-dtype="Number" type="text" name="system.quantity.value" value="{{document.system.quantity.value}}">
  </div>
</div>
{{/if}}

{{#if system.usage}}
<div class="form-group item-usage">
  <label>{{localize "ARTICHRON.ItemProperty.Usage"}}</label>
  <div class="form-fields">
    <input class="delta" data-dtype="Number" type="text" name="system.usage.value" value="{{document.system.usage.value}}" max="{{document.system.usage.max}}">
    <span class="sep">{{localize "ARTICHRON.ItemUsageOf"}}</span>
    <input type="text" class="source" name="system.usage.max" value="{{source.usage.max}}">
  </div>
</div>
{{/if}}

{{#if document.isEmbedded}}
<div class="form-group">
  <label>{{localize "ARTICHRON.Favorited"}}</label>
  <a class="action" data-action="control" data-control="favorite">
    <i class="fa-{{ifThen context.isFavorited 'solid' 'regular'}} fa-star"></i>
  </a>
</div>
{{/if}}
