<section class="tab {{tabs.advancements.cssClass}}" data-group="{{tabs.advancements.group}}" data-tab="{{tabs.advancements.id}}">

  <div class="document-list advancements" data-pseudo-document-name="Advancement">

    <button type="button" class="create-document icon fa-solid" data-action="createPseudoDocument" {{disabled isPlayMode}}></button>

    {{#each ctx.advancements}}
    <div class="form-group advancement" data-pseudo-id="{{activity.id}}">
      <button type="button" data-action="renderPseudoDocumentSheet" {{disabled disabled}}>
        <span class="name">{{name}}</span>
        <span class="subtitle">{{subtitle}}</span>
      </button>
    </div>
    {{/each}}

  </div>
</section>
