<div class="tab {{tabs.details.cssClass}}" data-group="{{tabs.details.group}}" data-tab="{{tabs.details.id}}">

  <fieldset class="attributes">
    <legend>{{details.attributes.legend}}</legend>
    {{formGroup details.attributes.values.field value=details.attributes.values.value type="checkboxes" classes="stacked" disabled=@root.isPlayMode}}
    {{#if details.attributes.levels.fields.length}}
    <div class="form-group">
      <label>{{details.attributes.levels.field.label}}</label>
      <div class="form-fields">
        {{#each details.attributes.levels.fields}}
        {{formGroup field value=value name=name label=label classes="label-top" disabled=@root.isPlayMode placeholder=1}}
        {{/each}}
      </div>
      <p class="hint">{{details.attributes.levels.field.hint}}</p>
    </div>
    {{/if}}
    {{#if details.attributes.ammo.show}}
    {{formGroup details.attributes.ammo.field value=details.attributes.ammo.value disabled=@root.isPlayMode}}
    {{/if}}
    {{#if details.attributes.boost.show}}
    {{formGroup details.attributes.boost.field value=details.attributes.boost.value disabled=@root.isPlayMode}}
    {{/if}}
  </fieldset>

  {{#if details.configuration.length}}
  <fieldset>
    <legend>{{localize "ARTICHRON.SHEET.LEGENDS.configuration"}}</legend>
    {{#each details.configuration}}
    {{formGroup field value=value disabled=disabled}}
    {{/each}}
  </fieldset>
  {{/if}}

  {{#each fieldsets}}
  <fieldset>
    <legend>{{legend}}</legend>
    {{#each formGroups}}
    {{formGroup field value=value disabled=disabled max=max}}
    {{/each}}
  </fieldset>
  {{/each}}

  {{#if defenses}}
  <fieldset class="defenses">
    <legend>{{defenses.legend}}</legend>
    {{#each defenses.values}}
    <div class="defense {{#if active}} active {{/if}}" data-tooltip="{{label}}" style="color: #{{color}}">
      {{#if @root.isEditMode}}
      {{formInput field value=value}}
      {{else}}
      <span class="total">{{ifThen value value 0}}</span>
      {{/if}}
      <i class="{{icon}}"></i>
    </div>
    {{/each}}
  </fieldset>
  {{/if}}

  {{#if isArmor}}
  <fieldset class="armor-requirements">
    <legend>
      {{localize "ARTICHRON.SHEET.LEGENDS.requirements"}}
      <button type="button" class="icon fa-regular fa-plus-square" data-action="addRequirement" {{disabled isPlayMode}}></button>
    </legend>
    {{#each armorRequirements}}
    <div class="form-fields" data-id="{{id}}">
      {{#each fields}}
      {{formInput field value=value name=name disabled=@root.isPlayMode placeholder=(localize field.options.placeholder)}}
      {{/each}}
      {{#if @root.isEditMode}}
      <div class="controls">
        <button type="button" class="control" data-action="deleteRequirement">
          <i class="fa-solid fa-minus"></i>
        </button>
      </div>
      {{/if}}
    </div>
    <p class="hint">{{hint}}</p>
    {{/each}}
  </fieldset>
  {{/if}}

</div>
