<header class="header">
  {{#if isPlayMode}}
  <h1 class="name">{{ctx.name}}</h1>
  {{else}}
  <input class="name" name="name" type="text" value="{{ctx.name}}" placeholder="{{localize 'Name'}}" {{disabled isPlayMode}}>
  {{/if}}
  <img class="avatar" alt="{{ctx.name}}" src="{{ctx.img}}" {{#if isEditMode}}data-edit="img" data-action="editImage"{{/if}}>
</header>
