<div class="tab {{tabs.about.cssClass}}" data-group="{{tabs.about.group}}" data-tab="{{tabs.about.id}}">
  {{formInput systemFields.biography.fields.value value=source.system.biography.value enriched=ctx.biography height=200 toggled=isPlayMode disabled=isPlayMode}}

  <fieldset>
    <legend>{{localize "ARTICHRON.SHEET.MONSTER.HEADERS.details"}}</legend>
    {{formGroup systemFields.danger.fields.value value=source.system.danger.value disabled=isPlayMode}}
    {{formGroup systemFields.danger.fields.pool.fields.spent value=document.system.danger.pool.spent disabled=isPlayMode}}
    {{formGroup systemFields.danger.fields.pool.fields.max value=source.system.danger.pool.max disabled=isPlayMode}}
  </fieldset>
</div>
