<section class="header">

  {{!-- NAME --}}
  {{#if (and isEditMode editable)}}
  {{formInput fields.name value=source.name placeholder=(localize "Name") classes="name"}}
  {{else}}
  <h1 class="name">{{document.name}}</h1>
  {{/if}}

  {{!-- AVATAR --}}
  <section class="avatar glass">
    {{#if (and isEditMode editable)}}
    <img class="icon" alt="{{source.name}}" src="{{source.img}}" data-edit="img" data-action="editImage">
    {{else}}
    <img class="icon" alt="{{document.name}}" src="{{document.img}}">
    {{/if}}
  </section>

  <div class="grid-tags">
    {{!-- DAMAGE --}}
    <div class="tag-line">
      <span class="label">{{document.system.damage.label}}</span>
      <div class="tags">
        {{#if (and isEditMode editable)}}
        <span class="tag glass button" data-action="configure" data-config="damage">
          <i class="fa-solid fa-cog fa-fw"></i>
        </span>
        {{else}}
        <span class="tag glass button" data-action="rollDamage">
          <span>{{ctx.damage.part.formula}}</span>
          <artichron-icon src="{{ctx.damage.img}}" style="--icon-fill: #{{ctx.damage.color}};"></artichron-icon>
        </span>
        {{/if}}
      </div>
    </div>

    {{!-- DEFENSES --}}
    {{#if ctx.defenses.length}}
    <div class="tag-line">
      <span class="label">{{localize "ARTICHRON.SHEET.MONSTER.HEADERS.defenses"}}</span>
      <div class="tags">
        {{#each ctx.defenses}}
        <span class="tag glass" data-tooltip="{{label}}">
          <span>{{value}}</span>
          <artichron-icon src="{{img}}" style="--icon-fill: #{{color}};"></artichron-icon>
        </span>
        {{/each}}
      </div>
    </div>
    {{/if}}
  </div>

</section>
