<div class="tab scrollable {{tabs.inventory.cssClass}}" data-group="{{tabs.inventory.group}}" data-tab="{{tabs.inventory.id}}">
  <search>
    <input type="search" id="inventory-search" placeholder="{{localize 'SIDEBAR.Search' types=(localize 'DOCUMENT.Items')}}" value="{{ctx.searchQuery}}">
  </search>

  <section class="inventory scrollable standard-form">
    {{#each ctx.sections}}
    <div class="document-list" data-document-name="Item" data-type="{{type}}">
      <h3 class="document-list-header">
        <span>{{label}}</span>
        <button type="button" class="icon create-document fa-solid" data-action="createEmbeddedDocument" {{disabled (not @root.editable)}}></button>
      </h3>
      {{document-list-entries documents=items classes="items compact"}}
    </div>
    {{/each}}
  </section>
</div>
