<section class="tab {{tabs.members.cssClass}}" data-group="{{tabs.members.group}}" data-tab="{{tabs.members.id}}">

  {{#if isGM}}
  <h3 class="section-header">
    <span>{{localize "ARTICHRON.SHEET.PARTY.HEADERS.awards"}}</span>
  </h3>

  {{!-- Award Currency --}}
  <div class="form-group">
    <label>{{localize "ARTICHRON.SHEET.PARTY.currency"}}</label>
    <div class="form-fields">
      {{formInput systemFields.currency.fields.funds value=source.system.currency.funds classes="delta" disabled=(not editable) placeholder="0"}}
      <button type="button" class="icon" data-action="distributeCurrency" {{disabled ctx.distributions.currency.disabled}}>
        <artichron-icon src="systems/artichron/assets/icons/chron.svg"></artichron-icon>
      </button>
    </div>
  </div>

  {{!-- Award Advancement Points --}}
  <div class="form-group">
    <label>{{localize "ARTICHRON.SHEET.PARTY.progressionPoints"}}</label>
    <div class="form-fields">
      {{formInput systemFields.points.fields.value value=source.system.points.value classes="delta" disabled=(not editable) placeholder="0"}}
      <button type="button" class="icon fa-solid fa-circle-nodes" data-action="distributePoints" {{disabled ctx.distributions.points.disabled}}></button>
    </div>
  </div>

  {{!-- Control Panel --}}
  <div class="form-group">
    <button type="button" data-action="placeMembers">
      <i class="fa-solid fa-fw fa-street-view"></i>
      <span>{{localize "ARTICHRON.SHEET.PARTY.placeMembers"}}</span>
    </button>
    <button type="button" data-action="recallMembers">
      <i class="fa-solid fa-fw fa-rotate-right"></i>
      <span>{{localize "ARTICHRON.SHEET.PARTY.recallMembers"}}</span>
    </button>
    <button type="button" data-action="initiateRecovery">
      <i class="fa-solid fa-fw fa-tent-arrow-turn-left"></i>
      <span>{{localize "ARTICHRON.SHEET.PARTY.initiateRecovery"}}</span>
    </button>
  </div>
  {{/if}}

  {{!-- Members List --}}
  <ul class="members scrollable">
    {{#each ctx.actors}}
    <li class="member" data-id="{{actor.id}}">
      <img src="{{actor.img}}" alt="{{actor.name}}" class="avatar" {{#if canView}}data-action="displayActor"{{/if}}>

      <div class="center">
        <span class="name">{{actor.name}}</span>
        <div class="bars">
          <div class="hp" style="--hp: {{pct.hp}}%;"></div>
          {{#if (or isHero isMonster)}}
          <div class="pools">
            {{#if isHero}}
            <div class="stamina" style="--stamina: {{pct.stamina}}%;"></div>
            {{else}}
            <div class="danger" style="--danger: {{pct.danger}}%;"></div>
            {{/if}}
          </div>
          {{/if}}
        </div>
        <span class="currency">
          <span>{{actor.system.currency.funds}}</span>
          <artichron-icon src="systems/artichron/assets/icons/chron.svg"></artichron-icon>
        </span>
      </div>
      <button type="button" class="icon fa-solid fa-fw fa-trash" data-action="removeMember" {{#unless (and @root.editable @root.isEditMode)}}disabled{{/unless}}></button>
    </li>
    {{/each}}
  </ul>
</section>
