<div class="tab {{tabs.members.cssClass}}" data-group="{{tabs.members.group}}" data-tab="{{tabs.members.id}}">

  {{#if isGM}}
  <h3 class="section-header">
    <span>{{localize "ARTICHRON.SHEET.PARTY.HEADERS.awards"}}</span>
  </h3>

  <div class="form-group">
    <label>{{localize "ARTICHRON.SHEET.PARTY.currency"}}</label>
    <div class="form-fields">
      {{formInput systemFields.currency.fields.award value=source.system.currency.award classes="delta" disabled=(not editable)}}
      <button type="button" class="icon" data-action="distributeCurrency" {{disabled ctx.distributions.currency.disabled}}>
        <artichron-icon src="systems/artichron/assets/icons/chron.svg"></artichron-icon>
      </button>
    </div>
  </div>
  {{/if}}

  <h3 class="section-header">
    <span>{{localize "ARTICHRON.SHEET.PARTY.HEADERS.funds"}}</span>
  </h3>
  <div class="form-group">
    <label>{{localize "ARTICHRON.SHEET.PARTY.currency"}}</label>
    <div class="form-fields">
      {{formInput systemFields.currency.fields.funds value=source.system.currency.funds classes="delta" disabled=(not editable)}}
    </div>
  </div>

  {{#if isGM}}
  <div class="form-group">
    <button type="button" data-action="placeMembers">
      <i class="fa-solid fa-fw fa-street-view"></i>
      <span>{{localize "ARTICHRON.SHEET.PARTY.placeMembers"}}</span>
    </button>
    <button type="button" data-action="recallMembers">
      <i class="fa-solid fa-fw fa-rotate-right"></i>
      <span>{{localize "ARTICHRON.SHEET.PARTY.recallMembers"}}</span>
    </button>
  </div>
  {{/if}}

  <ul class="members scrollable">
    {{#each ctx.actors}}
    <li class="member" data-id="{{actor.id}}">
      <img src="{{actor.img}}" alt="{{actor.name}}" class="avatar" {{#if canView}}data-action="displayActor"{{/if}}>

      <div class="center">
        <span class="name">{{actor.name}}</span>
        <div class="bars">
          <div class="hp" style="--hp: {{pct.hp}}%;"></div>
          {{#if (or isHero isMonster)}}
          <div class="pools">
            {{#if isHero}}
            <div class="health" style="--health: {{pct.health}}%;"></div>
            <div class="stamina" style="--stamina: {{pct.stamina}}%;"></div>
            <div class="mana" style="--mana: {{pct.mana}}%;"></div>
            {{else}}
            <div class="danger" style="--danger: {{pct.danger}}%;"></div>
            {{/if}}
          </div>
          {{/if}}
        </div>
        <span class="currency">
          {{#if canManage}}
          <a data-action="manageFunds" data-tooltip="ARTICHRON.SHEET.PARTY.manageFunds">
            <img class="icon" src="systems/artichron/assets/icons/chron.svg" alt="">
          </a>
          {{else}}
          <img class="icon" src="systems/artichron/assets/icons/chron.svg" alt="">
          {{/if}}
          <input type="text" id="currency-{{@root.document.id}}-{{actor.id}}" class="delta" value="{{actor.system.currency.funds}}" {{#if isOwner}} data-change="changeCurrency" data-property="system.currency.funds" {{else}} disabled {{/if}}>
        </span>
      </div>
      <button type="button" class="icon fa-solid fa-fw fa-trash" data-action="removeMember" {{#unless (and @root.editable @root.isEditMode)}}disabled{{/unless}}></button>
    </li>
    {{/each}}
  </ul>
</div>
