<section class="tab {{tabs.members.cssClass}}" data-group="{{tabs.members.group}}" data-tab="{{tabs.members.id}}">

  {{#if isGM}}
  <h3 class="section-header">
    <span>{{localize "ARTICHRON.SHEET.PARTY.HEADERS.awards"}}</span>
  </h3>

  {{!-- Award Currency --}}
  <div class="form-group">
    <label>{{localize "ARTICHRON.SHEET.PARTY.currency"}}</label>
    <div class="form-fields">
      {{formInput systemFields.currency.fields.funds value=source.system.currency.funds classes="delta" disabled=(not editable) placeholder="0"}}
      <button type="button" class="icon" data-action="distributeCurrency" {{disabled ctx.distributions.currency.disabled}}>
        <artichron-icon src="systems/artichron/assets/icons/chron.svg"></artichron-icon>
      </button>
    </div>
  </div>

  {{!-- Award Advancement Points --}}
  <div class="form-group">
    <label>{{localize "ARTICHRON.SHEET.PARTY.progressionPoints"}}</label>
    <div class="form-fields">
      {{formInput systemFields.points.fields.value value=source.system.points.value classes="delta" disabled=(not editable) placeholder="0"}}
      <button type="button" class="icon fa-solid fa-circle-nodes" data-action="distributePoints" {{disabled ctx.distributions.points.disabled}}></button>
    </div>
  </div>

  {{!-- Control Panel --}}
  <div class="form-group">
    <button type="button" data-action="placeMembers">
      <i class="fa-solid fa-fw fa-street-view"></i>
      <span>{{localize "ARTICHRON.SHEET.PARTY.placeMembers"}}</span>
    </button>
    <button type="button" data-action="recallMembers">
      <i class="fa-solid fa-fw fa-rotate-right"></i>
      <span>{{localize "ARTICHRON.SHEET.PARTY.recallMembers"}}</span>
    </button>
    <button type="button" data-action="initiateRecovery">
      <i class="fa-solid fa-fw fa-tent-arrow-turn-left"></i>
      <span>{{localize "ARTICHRON.SHEET.PARTY.initiateRecovery"}}</span>
    </button>
  </div>
  {{/if}}

  {{!-- Members List --}}
  <section class="members scrollable">
    {{#each ctx.actors}}
    <div class="member" data-id="{{actor.id}}">
      <div class="avatar glass">
        <img class="" src="{{actor.img}}" alt="{{actor.name}}" {{#if canView}} data-action="displayActor" {{/if}}>
      </div>
      <div class="attributes">
        <div class="name">{{actor.name}}</div>
        <div class="currency">
          <div>{{actor.system.currency.funds}}</div>
          <artichron-icon src="systems/artichron/assets/icons/chron.svg"></artichron-icon>
        </div>
        <div class="bars">
          <div class="hp" style="--hp: {{pct.hp}}%;"></div>
        </div>
      </div>
      <div class="controls">
        <button type="button" class="icon fa-solid fa-trash" data-action="removeMember" {{disabled (not (and @root.editable @root.isEditMode))}}></button>
      </div>
    </div>
    {{/each}}
  </section>
</section>
