<div class="tab {{tabs.progress.cssClass}}" data-group="{{tabs.progress.group}}" data-tab="{{tabs.progress.id}}">
  {{#if isGM}}

  <div class="document-list" data-pseudo-document-name="Clock">
    <h3 class="document-list-header">
      <span>{{localize "DOCUMENT.ClockPl"}}</span>
      <button type="button" class="create-document icon fa-solid fa-fw" data-action="createPseudoDocument" {{disabled (not editable)}}></button>
    </h3>
  </div>

  <section class="clocks scrollable" data-pseudo-document-name="Clock">
    {{#each ctx.clocks}}
    <div class="clock" data-pseudo-id="{{clock.id}}">
      <div class="control">
        {{progressClock value=clock.value max=clock.max color=clock.color}}

        <div class="controls">
          <button type="button" data-delta="up" data-action="clockDelta" {{disabled disableUp}}>
            <i class="fa-solid fa-chevron-up"></i>
          </button>
          <button type="button" data-delta="down" data-action="clockDelta" {{disabled disableDown}}>
            <i class="fa-solid fa-chevron-down"></i>
          </button>
        </div>
      </div>

      <div class="details">
        <h3 class="section-header">{{clock.name}}</h3>
        <div class="description">{{{enriched}}}</div>
      </div>
    </div>
    {{#unless @last}}<hr>{{/unless}}
    {{/each}}
  </section>

  {{/if}}
</div>
