<form>
  <fieldset>
    {{formGroup name.field value=name.value}}
    {{formGroup value.field value=value.value}}
    {{formGroup max.field value=max.value}}
    {{formGroup description.field value=description.value enriched=description.enriched}}
    {{formGroup type.field value=type.value}}
  </fieldset>
</form>
