<form autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" data-tooltip="{{actor.name}}" height="100" width="100">
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Name'}}">
      </h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "ARTICHRON.SheetTabAttributes"}}</a>
    <a class="item" data-tab="equipment">{{localize "ARTICHRON.SheetTabEquipment"}}</a>
    <a class="item" data-tab="loot">{{localize "ARTICHRON.SheetTabLoot"}}</a>
    <a class="item" data-tab="consumables">{{localize "ARTICHRON.SheetTabConsumables"}}</a>
    <a class="item" data-tab="effects">{{localize "ARTICHRON.SheetTabEffects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Tabs --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <section class="attributes">
        {{> "systems/artichron/templates/partials/attributes.hbs"}}
      </section>
    </div>

  </section>
</form>
