<div class="trading scrollable">

  <fieldset class="stock">
    <legend>{{localize "ARTICHRON.SheetLabels.Stock"}}</legend>
    {{#each stock}}
    <div class="inventory-list compact">
      <header>
        <span class="label">{{label}}</span>
      </header>
      {{#each items}} {{inventoryItem item disabled=true}} {{/each}}
    </div>
    {{/each}}
  </fieldset>

  <fieldset class="cart">
    <legend>{{localize "ARTICHRON.SheetLabels.Cart"}}</legend>
    <div class="contents">
      <div class="inventory-list compact">
        {{#each cart}}
        {{inventoryItem item enriched=enriched disabled=true}}
        {{/each}}
      </div>
    </div>
    {{#if isGM}}
    <button type="button" data-action="checkout">
      <i class="fa-solid fa-cart-shopping"></i>
      {{localize "ARTICHRON.Purchase.Checkout"}}
    </button>
    {{/if}}
  </fieldset>

</div>
