<div class="trading scrollable">

  <fieldset class="stock">
    <legend>{{localize "ARTICHRON.SheetTab.Stock"}}</legend>
    {{#each stock}}
    <div class="inventory-list">
      <header>
        <span class="label">{{label}}</span>
      </header>
      {{#each items}} {{inventoryItem item disabled=true}} {{/each}}
    </div>
    {{/each}}
  </fieldset>

  <fieldset class="cart">
    <legend>{{localize "ARTICHRON.SheetTab.Cart"}}</legend>
    <div class="inventory-list">
      {{#each cart}}
      {{inventoryItem item enriched=enriched disabled=true}}
      {{/each}}
    </div>
  </fieldset>

</div>
