<div class="trading scrollable">
  <div class="wares scrollable">
    <fieldset class="stock scrollable">
      <div class="inventory-list compact">
        {{#each items.available}}
        {{inventoryItem item disabled=true}}
        {{/each}}
      </div>
    </fieldset>

    <fieldset class="cart scrollable">
      <legend>{{localize "ARTICHRON.SheetTab.Cart"}}</legend>
      <div class="inventory-list">
        {{#each items.staged}}
        {{inventoryItem item enriched=enriched disabled=true}}
        {{/each}}
      </div>
    </fieldset>
  </div>

  <div class="merchant">
    <fieldset class="avatar">
      <img src="{{actor.img}}" alt="{{actor.name}}">
    </fieldset>

    <fieldset class="config">
      <legend>{{actor.name}}</legend>
      {{#if isOwner}}
      {{formGroup name.field value=name.value label=name.label}}
      {{formGroup shop.field value=shop.value}}
      {{formGroup img.field value=img.value label=img.label}}
      {{formGroup bio.field value=bio.value enriched=bio.enriched height=200 toggled=true}}
      {{else}}
      {{{bio.enriched}}}
      {{/if}}
    </fieldset>

  </div>
</div>
