<fieldset class="resistances">
  <legend>{{localize "ARTICHRON.SheetTab.Defenses"}}</legend>
  {{#each resistances}}
  <div class="resistance {{#if active}} active {{/if}}" data-tooltip="{{label}}" style="color: #{{color}}">
    {{#if @root.isEditMode}}
    <input type="text" name="{{name}}" value="{{value}}">
    {{else}}
    <span class="total">{{value}}</span>
    {{/if}}
    <i class="{{icon}}"></i>
  </div>
  {{/each}}
</fieldset>
