<fieldset class="defenses">
  <legend>{{localize "ARTICHRON.SheetLabels.Defenses"}}</legend>
  {{#each defenses}}
  <div class="defense {{#if active}} active {{/if}}" data-tooltip="{{label}}" style="color: #{{color}}">
    <span class="total">{{value}}</span>
    <i class="{{icon}}"></i>
  </div>
  {{/each}}
</fieldset>
