<fieldset class="resistances">
  <legend>{{localize "ARTICHRON.SheetLabels.Defenses"}}</legend>
  {{#each resistances}}
  <div class="resistance {{#if active}} active {{/if}}" data-tooltip="{{label}}" style="color: #{{color}}">
    <span class="total">{{value}}</span>
    <i class="{{icon}}"></i>
  </div>
  {{/each}}
</fieldset>
