<div class="{{tabs.about.tabCssClass}}" data-group="primary" data-tab="about">
  {{#if isEditMode}}
  {{formGroup compactItems.field value=compactItems.value blank="Default" name="flags.artichron.compactItems"}}
  {{/if}}

  <fieldset>
    <legend>{{localize "ARTICHRON.SheetLabels.Biography"}}</legend>
    {{#with biography}}
    {{formGroup field value=value enriched=enriched height=200 compact=true toggled=true disabled=@root.isPlayMode}}
    {{/with}}
  </fieldset>

  <fieldset>
    <legend>{{localize "ARTICHRON.SheetLabels.Details"}}</legend>
    {{#each details}}
    {{formGroup field value=value disabled=@root.isPlayMode max=max}}
    {{/each}}
  </fieldset>
</div>
