<div class="{{tabs.actions.tabCssClass}}" data-group="primary" data-tab="actions">
  {{> "systems/artichron/templates/actor/monster-defenses.hbs"}}

  <fieldset class="equipment">
    <legend>{{localize "ARTICHRON.SheetTab.Equipment"}}</legend>
    {{#each equipment}}
    <div class="item {{#unless active}} empty {{/unless}}" {{#if dataset.itemUuid}} data-item-uuid="{{dataset.itemUuid}}" {{/if}}>
      <img src="{{item.img}}" {{#if active}} data-action="useItem" {{/if}} data-tooltip="<section class='loading' data-uuid='{{dataset.itemUuid}}'><i class='fas fa-spinner fa-spin-pulse'></i></section>">
      {{#if @root.isEditMode}}
      <div class="controls">
        <a data-action="changeEquipped" data-equipment-slot="{{dataset.equipmentSlot}}">
          <i class="fa-solid fa-shield-alt"></i>
        </a>
      </div>
      {{/if}}
    </div>
    {{/each}}
  </fieldset>

  <div class="inventory-list {{#if compactItems.compact}}compact{{/if}}">
    <header>
      <span class="label">{{localize "ARTICHRON.SheetTab.Favorites"}}</span>
    </header>

    {{#each items.favorites}}
    {{inventoryItem item enriched=enriched}}
    {{/each}}
  </div>

  <div class="inventory-list {{#if compactItems.compact}}compact{{/if}}">
    <header>
      <span class="label">{{localize "ARTICHRON.SheetTab.Inventory"}}</span>
      {{#if @root.isEditMode}}
      <button class="controls" type="button" data-action="createItem" data-tooltip="ARTICHRON.SheetActions.CreateItem">
        <i class="fa-solid fa-plus"></i>
      </button>
      {{/if}}
    </header>

    {{#each items.items}}
    {{inventoryItem item enriched=enriched}}
    {{/each}}
  </div>
</div>
