<div class="{{tabs.actions.tabCssClass}} standard-form" data-group="primary" data-tab="actions">
  {{> "systems/artichron/templates/actor/monster-defenses.hbs"}}

  <header>
    <span class="name">{{localize "ARTICHRON.SheetTab.Favorites"}}</span>
    <span class="properties"></span>
    <span class="controls"></span>
  </header>

  {{#each items.favorites}}
  {{inventoryItem item expanded=isExpanded enriched=enrichedText disabled=@root.isPlayMode}}
  {{/each}}

  <header>
    <span class="name">{{localize "ARTICHRON.SheetTab.Inventory"}}</span>
    <span class="properties"></span>
    {{#if @root.isEditMode}}
      <button class="controls" type="button" data-action="createItem" data-tooltip="ARTICHRON.SheetActions.CreateItem">
        <i class="fa-solid fa-plus"></i>
      </button>
      {{/if}}
  </header>

  {{#each items.items}}
  {{inventoryItem item expanded=isExpanded enriched=enrichedText disabled=@root.isPlayMode}}
  {{/each}}
</div>
