<div class="{{tabs.actions.tabCssClass}}" data-group="primary" data-tab="actions">
  <div class="standard-form">
    {{> "systems/artichron/templates/actor/monster-defenses.hbs"}}
  </div>

  <div class="inventory-list">
    <header>
      <span class="label">{{localize "ARTICHRON.SheetTab.Favorites"}}</span>
    </header>

    {{#each items.favorites}}
    {{inventoryItem item expanded=isExpanded enriched=enrichedText disabled=@root.isPlayMode}}
    {{/each}}
  </div>

  <div class="inventory-list">
    <header>
      <span class="label">{{localize "ARTICHRON.SheetTab.Inventory"}}</span>
      {{#if @root.isEditMode}}
      <button class="controls" type="button" data-action="createItem" data-tooltip="ARTICHRON.SheetActions.CreateItem">
        <i class="fa-solid fa-plus"></i>
      </button>
      {{/if}}
    </header>

    {{#each items.items}}
    {{inventoryItem item expanded=isExpanded enriched=enrichedText disabled=@root.isPlayMode}}
    {{/each}}
  </div>
</div>
