<div class="{{tabs.progress.tabCssClass}}" data-group="primary" data-tab="progress">
  {{#if isGM}}

  {{#if @root.isEditMode}}
  <footer class="form-footer">
    <button type="button" data-action="addClock" data-clock="good">
      <i class="fa-solid fa-fw fa-clock"></i>
      {{localize "ARTICHRON.SheetActions.AddGoodClock"}}
    </button>

    <button type="button" data-action="addClock" data-clock="bad">
      <i class="fa-solid fa-fw fa-clock"></i>
      {{localize "ARTICHRON.SheetActions.AddBadClock"}}
    </button>
  </footer>
  {{/if}}

  <section class="clocks scrollable {{ifThen isEditMode 'edit' 'play'}}">
    {{#if @root.isEditMode}}
    {{#each clocks}}
    <div class="form-group" data-id="{{clock.id}}">
      {{formGroup name.field value=name.value name=name.name classes="name label-top"}}
      {{formGroup value.field value=value.value name=value.name classes="value label-top"}}
      {{formGroup max.field value=max.value name=max.name classes="max label-top"}}
      {{formGroup color.field value=color.value name=color.name classes="color label-top"}}
      <div class="controls">
        <button type="button" class="control" data-action="removeClock">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </div>
    {{/each}}
    {{else}}
    {{#each clocks}}
    <div class="clock">
      <button type="button" data-delta="up" data-id="{{clock.id}}" data-action="clockDelta" {{disabled disableUp}}>
        <i class="fa-solid fa-chevron-up"></i>
      </button>
      {{progressClock value=clock.value max=clock.max color=clock.color}}
      <button type="button" data-delta="down" data-id="{{clock.id}}" data-action="clockDelta" {{disabled disableDown}}>
        <i class="fa-solid fa-chevron-down"></i>
      </button>
      <label class="name">{{name}}</label>
    </div>
    {{/each}}
    {{/if}}
  </section>

  {{/if}}
</div>
