<div class="{{tabs.inventory.tabCssClass}}" data-group="primary" data-tab="inventory">
  <fieldset class="currencies">
    <legend>Currencies</legend>
    <div class="form-group">
      <img class="icon" src="systems/artichron/assets/icons/chron.svg">
      <input type="text" class="delta" name="system.currency.chron" value="{{document.system.currency.chron}}" {{disabled (not isEditable)}}>
      <button type="button" data-action="manageCurrency">
        <i class="fa-solid fa-fw fa-arrow-right-arrow-left"></i>
        <span>Exchange</span>
      </button>
    </div>
  </fieldset>

  {{#each items}}
  <div class="inventory-list compact">
    <header><span class="label">{{label}}</span></header>
    {{#each items}}
    {{inventoryItem this disabled=true}}
    {{/each}}
  </div>
  {{/each}}
</div>
