<div class="{{tabs.members.tabCssClass}}" data-group="primary" data-tab="members">
  <fieldset class="awards">
    <legend>{{localize "ARTICHRON.SheetTab.Awards"}}</legend>
    <div class="form-group">
      <label>
        <span>{{localize "ARTICHRON.SheetTab.Currency"}}</span>
        <img class="icon" src="systems/artichron/assets/icons/chron.svg">
      </label>
      <input type="text" name="system.currency.chron" class="delta" value="{{awards.currency.value}}" {{disabled (not isEditable)}}>
      <button type="button" data-action="awardCurrency" {{disabled awards.currency.disabled}}>
        <i class="fa-solid fa-fw fa-medal"></i> <span>{{localize "ARTICHRON.SheetActions.Award"}}</span>
      </button>
    </div>
    <div class="form-group">
      <label>{{localize "ARTICHRON.SheetTab.Progression"}}</label>
      <input type="text" name="system.points.value" class="delta" value="{{awards.points.value}}" {{disabled (not isEditable)}}>
      <button type="button" data-action="awardPoints" {{disabled awards.points.disabled}}>
        <i class="fa-solid fa-fw fa-cube"></i> <span>{{localize "ARTICHRON.SheetActions.Award"}}</span>
      </button>
    </div>
  </fieldset>

  {{#if isGM}}
  <div class="form-group">
    <button type="button" data-action="placeMembers">
      <i class="fa-solid fa-street-view"></i>
      <span>{{localize "ARTICHRON.SheetActions.PlaceMembers"}}</span>
    </button>
  </div>
  {{/if}}

  <ul class="members">
    {{#each actors}}
    <li class="member" data-id="{{actor.id}}" style="--hp: {{pct.hp}}%; --health: {{pct.health}}%; --stamina: {{pct.stamina}}%; --mana: {{pct.mana}}%;">
      <img src="{{actor.img}}" alt="{{actor.name}}" class="avatar" {{#if canView}}data-action="displayActor"{{/if}}>

      <div class="center">
        <span class="name">{{actor.name}}</span>
        <div class="bars">
          <div class="hp"></div>
          {{#if isHero}}
          <div class="pools">
            <div class="health"></div>
            <div class="stamina"></div>
            <div class="mana"></div>
          </div>
          {{/if}}
        </div>
        <span class="currency">
          <img class="icon" src="systems/artichron/assets/icons/chron.svg">
          <input type="text" id="currency-{{@root.document.id}}-{{actor.id}}" class="delta" value="{{actor.system.currency.chron}}" {{#if isOwner}} data-change="changeCurrency" data-property="system.currency.chron" {{else}} disabled {{/if}}>
        </span>
        {{#if isHero}}
        <button type="button" data-action="createProgression" class="points" {{disabled (not isOwner)}}>
          <span>{{pts.available}}</span>
          <i class="fa-solid fa-fw fa-cube"></i>
        </button>
        {{/if}}
      </div>
      <div class="controls">
        <button type="button" data-action="removeMember" {{#unless (and @root.isEditable @root.isEditMode)}}disabled{{/unless}}>
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </li>
    {{/each}}
  </ul>
</div>
