<div class="tab {{tabs.members.cssClass}}" data-group="{{tabs.members.group}}" data-tab="{{tabs.members.id}}">
  {{#if isGM}}
  <fieldset class="awards">
    <legend>{{localize "ARTICHRON.SHEET.LEGENDS.awards"}}</legend>
    <div class="form-group">
      <label>
        <span>{{localize "ARTICHRON.PARTY.LABELS.currency"}}</span>
        <img class="icon" src="systems/artichron/assets/icons/chron.svg" alt="Chron">
      </label>
      <input type="text" name="system.currency.award" class="delta" value="{{distributions.currency.value}}" {{disabled (not isEditable)}}>
      <button type="button" data-action="distributeCurrency" {{disabled distributions.currency.disabled}}>
        <i class="fa-solid fa-fw fa-medal"></i>
        <span>{{localize "ARTICHRON.PARTY.LABELS.distribute"}}</span>
      </button>
    </div>
    <div class="form-group">
      <label>{{localize "ARTICHRON.PARTY.LABELS.progression"}}</label>
      <input type="text" name="system.points.value" class="delta" value="{{distributions.points.value}}" {{disabled (not isEditable)}}>
      <button type="button" data-action="distributePoints" {{disabled distributions.points.disabled}}>
        <i class="fa-solid fa-fw fa-cube"></i>
        <span>{{localize "ARTICHRON.PARTY.LABELS.distribute"}}</span>
      </button>
    </div>
  </fieldset>
  {{/if}}

  <fieldset class="funds">
    <legend>{{localize "ARTICHRON.SHEET.LEGENDS.funds"}}</legend>
    <div class="form-group">
      <label>
        <span>{{localize "ARTICHRON.PARTY.LABELS.currency"}}</span>
        <img src="systems/artichron/assets/icons/chron.svg" alt="Chron" class="icon">
      </label>
      <input type="text" name="system.currency.funds" class="delta" value="{{funds.value}}" {{disabled (not isEditable)}}>
    </div>
  </fieldset>

  {{#if isGM}}
  <div class="form-group">
    <button type="button" data-action="placeMembers">
      <i class="fa-solid fa-fw fa-street-view"></i>
      <span>{{localize "ARTICHRON.PARTY.LABELS.MEMBERS.place"}}</span>
    </button>
    <button type="button" data-action="recallMembers">
      <i class="fa-solid fa-fw fa-rotate-right"></i>
      <span>{{localize "ARTICHRON.PARTY.LABELS.MEMBERS.recall"}}</span>
    </button>
  </div>
  {{/if}}

  <ul class="members scrollable">
    {{#each actors}}
    <li class="member" data-id="{{actor.id}}">
      <img src="{{actor.img}}" alt="{{actor.name}}" class="avatar" {{#if canView}}data-action="displayActor"{{/if}}>

      <div class="center">
        <span class="name">{{actor.name}}</span>
        <div class="bars">
          <div class="hp" style="--hp: {{pct.hp}}%;"></div>
          {{#if (or isHero isMonster)}}
          <div class="pools">
            {{#if isHero}}
            <div class="health" style="--health: {{pct.health}}%;"></div>
            <div class="stamina" style="--stamina: {{pct.stamina}}%;"></div>
            <div class="mana" style="--mana: {{pct.mana}}%;"></div>
            {{else}}
            <div class="danger" style="--danger: {{pct.danger}}%;"></div>
            {{/if}}
          </div>
          {{/if}}
        </div>
        <span class="currency">
          {{#if canManage}}
          <a data-action="manageFunds" data-tooltip="ARTICHRON.PARTY.LABELS.FUNDS.manage">
            <img class="icon" src="systems/artichron/assets/icons/chron.svg" alt="">
          </a>
          {{else}}
          <img class="icon" src="systems/artichron/assets/icons/chron.svg" alt="">
          {{/if}}
          <input type="text" id="currency-{{@root.document.id}}-{{actor.id}}" class="delta" value="{{actor.system.currency.funds}}" {{#if isOwner}} data-change="changeCurrency" data-property="system.currency.funds" {{else}} disabled {{/if}}>
        </span>
        {{#if isHero}}
        <button type="button" data-action="createProgression" class="points" {{disabled (not isOwner)}}>
          <span>{{pts.available}}</span>
          <i class="fa-solid fa-fw fa-cube"></i>
        </button>
        {{/if}}
      </div>
      <div class="controls">
        <button type="button" data-action="removeMember" {{#unless (and @root.isEditable @root.isEditMode)}}disabled{{/unless}}>
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    </li>
    {{/each}}
  </ul>
</div>
