<div class="{{tabs.inventory.tabCssClass}}" data-group="primary" data-tab="inventory">
  <fieldset class="currencies">
    <legend>Currencies</legend>
    <div class="form-group wrapper">
      <img class="icon" src="systems/artichron/assets/icons/chron.svg">
      {{#each currencies}}
      <div class="form-group label-top">
        <label>{{name}}</label>
        <div class="form-fields">
          <input type="text" class="delta" value="{{chron}}" {{disabled disabled}} data-change="changeCurrency" data-property="system.currency.chron" data-actor-id="{{id}}" id="currency-{{@root.document.id}}-{{id}}">
        </div>
      </div>
      {{/each}}
    </div>
  </fieldset>

  {{#each items}}
  <div class="inventory-list compact">
    <header><span class="label">{{label}}</span></header>
    {{#each items}}
    {{inventoryItem this disabled=true}}
    {{/each}}
  </div>
  {{/each}}
</div>
