<div class="{{tabs.attributes.tabCssClass}}" data-group="primary" data-tab="attributes">

  <div class="left-pane">
    <fieldset class="pools">
      {{#if isEditMode}}
      <a class="edit" data-action="toggleConfig" data-tooltip="ARTICHRON.SheetActions.EditPools" data-trait="pools">
        <i class="fa-solid fa-cog"></i>
      </a>
      {{/if}}
      {{#each pools}}
      <a class="pool die d{{faces}} {{key}}" data-action="rollPool" data-pool="{{key}}" data-tooltip="{{value}} / {{max}} (d{{faces}})">
        <span class="label">{{value}}</span>
      </a>
      {{/each}}
    </fieldset>

    <fieldset class="health">
      <input type="text" name="system.health.value" class="delta" value="{{health.value}}" placeholder="0">
      <span class="sep">/</span>
      <span class="max">{{health.max}}</span>

      <div class="health-bar" style="--health-bar-pct: {{health.pct}}%"></div>
      <a class="control" data-action="recoverHealth" data-tooltip="ARTICHRON.SheetActions.RecoverHealth">
        <i class="fa-solid fa-heart"></i>
      </a>
    </fieldset>
  </div>

  <div class="center-pane scrollable">

    <fieldset class="favorites">
      <legend>{{localize "ARTICHRON.SheetTab.Favorites"}}</legend>
      <div class="inventory-list compact">
        {{#each document.favorites}}{{inventoryItem this}}{{/each}}
      </div>
    </fieldset>

    <fieldset class="resistances">
      <legend>{{localize "ARTICHRON.SheetTab.Defenses"}}</legend>
      {{#each resistances}}
      <div class="resistance {{#if active}} active {{/if}}" data-tooltip="{{label}}" style="color: #{{color}}">
        <span class="total">{{value}}</span> <i class="{{icon}}"></i>
      </div>
      {{/each}}
    </fieldset>

    <fieldset class="skills">
      <legend>{{localize "ARTICHRON.SheetTab.Skills"}}</legend>
      {{#each skills as |k v|}}
      <section data-group="{{v}}">
        {{#each k}}
        <div class="skill">
          <a class="label" data-action="rollSkill" data-skill-id="{{skillId}}">{{label}}</a>
          <span class="pips">
            {{#each pips}}
            <span class="pip"></span>
            {{/each}}
          </span>
          <span class="level">
            {{#if @root.isEditMode}}
            {{formInput field value=value placeholder="0" class="level"}}
            {{else}}
            {{{value}}}
            {{/if}}
          </span>
        </div>
        {{/each}}
      </section>
      {{/each}}
    </fieldset>

  </div>

</div>
