<div class="{{tabs.details.tabCssClass}}" data-group="primary" data-tab="details">

  <fieldset>
    <legend>{{notes.field.label}}</legend>
    {{formInput notes.field value=notes.value enriched=notes.enriched compact=true height=300 toggled=true}}
  </fieldset>

  <fieldset>
    <legend>{{localize "ARTICHRON.SheetTab.Configuration"}}</legend>
    {{formGroup compactItems.field value=compactItems.value blank="Default" name="flags.artichron.compactItems" disabled=@root.isPlayMode}}
    {{formGroup pips.field value=pips.value disabled=@root.isPlayMode}}
  </fieldset>

</div>
