<div class="{{tabs.attributes.tabCssClass}}" data-group="primary" data-tab="attributes">

  <div class="left-pane">
    <div class="health">
      <input type="text" name="system.health.value" class="delta" value="{{health.value}}" placeholder="0">
      <span class="sep">/</span>
      <span class="max">{{health.max}}</span>
    </div>
    <div class="health-bar" style="--health-bar-top: {{health.height}}%"></div>
    <a class="control" data-action="recoverHealth" data-tooltip="ARTICHRON.SheetActions.RecoverHealth">
      <i class="fa-solid fa-heart"></i>
    </a>
  </div>

  <div class="center-pane scrollable">

    <section class="skills">
      {{#if isEditMode}}
      <a class="edit" data-action="toggleConfig" data-tooltip="ARTICHRON.SheetActions.EditSkills" data-trait="skills">
        <i class="fa-solid fa-cog"></i>
      </a>
      {{/if}}
      <a data-action="rollSkill" data-skill="head" data-tooltip="ARTICHRON.SheetActions.RollSkillHead"><i class="fa-solid fa-horse-head"></i></a>
      <a data-action="rollSkill" data-skill="arms" data-tooltip="ARTICHRON.SheetActions.RollSkillArms"><i class="fa-solid fa-hand-back-fist"></i></a>
      <a data-action="rollSkill" data-skill="legs" data-tooltip="ARTICHRON.SheetActions.RollSkillLegs"><i class="fa-solid fa-shoe-prints"></i></a>
    </section>

    <section class="pools">
      {{#if isEditMode}}
      <a class="edit" data-action="toggleConfig" data-tooltip="ARTICHRON.SheetActions.EditPools" data-trait="pools">
        <i class="fa-solid fa-cog"></i>
      </a>
      {{/if}}
      {{#each pools}}
      <a class="pool die {{denom}} {{key}}" data-action="rollPool" data-pool="{{key}}" data-tooltip="{{value}} / {{max}} ({{die}})">{{value}}</a>
      {{/each}}
    </section>

    <section class="resistances">
      {{#each resistances}}
      <div class="resistance" data-tooltip="{{label}}" style="color: #{{color}}">
        {{#if @root.isEditMode}}
        <input type="text" name="{{name}}" value="{{value}}">
        {{else}}
        <span class="total">{{value}}</span>
        {{/if}}
        <i class="{{icon}}"></i>
      </div>
      {{/each}}
    </section>

    <section class="favorites">
      {{#each document.system.equipped.favorites}}
      <a class="favorite" data-item-uuid="{{uuid}}" data-action="useItem">
        <img src="{{img}}" data-tooltip="{{name}}" data-tooltip-direction="UP">
      </a>
      {{/each}}
    </section>

  </div>

</div>
