<div class="tab {{tabs.inventory.cssClass}}" data-group="{{tabs.inventory.group}}" data-tab="{{tabs.inventory.id}}">

  <fieldset class="equipment">
    <legend>{{localize "ARTICHRON.SheetLabels.Equipment"}}</legend>
    {{#each equipment}}
    <div class="item {{#unless active}} empty {{/unless}}" {{#if dataset.itemUuid}} data-item-uuid="{{dataset.itemUuid}}" {{/if}}>
      <img src="{{item.img}}" alt="" {{#if active}} data-action="useItem" {{/if}} {{#if tooltip}} data-tooltip="{{tooltip}}" {{/if}}>
      {{#if @root.isEditMode}}
      <div class="controls">
        <a data-action="changeEquipped" data-equipment-slot="{{dataset.equipmentSlot}}">
          <i class="fa-solid fa-shield-alt"></i>
        </a>
      </div>
      {{/if}}
    </div>
    {{/each}}
  </fieldset>

  <search>
    <input type="search" id="inventory-search" placeholder="{{localize 'SIDEBAR.Search' types=(localize 'DOCUMENT.Items')}}" value="{{searchQuery}}">
  </search>

  <div class="scrollable">

    {{#each items}}
    <div class="inventory-list {{#each classes}}{{this}}{{/each}}">
      <header>
        <span class="label">{{localize label}}</span>
        {{#if @root.isEditMode}}
        <button class="controls" type="button" data-action="createItem" data-tooltip="ARTICHRON.SheetActions.CreateItem" {{#if id}}data-section="{{id}}"{{/if}}>
          <i class="fa-solid fa-plus"></i>
        </button>
        {{/if}}
      </header>

      {{#each items}}
      {{inventoryItem item enriched=enriched}}
      {{/each}}

    </div>
    {{/each}}

  </div>

</div>
