<div class="tab {{tabs.details.cssClass}}" data-group="{{tabs.details.group}}" data-tab="{{tabs.details.id}}">

  <fieldset>
    <legend>{{notes.field.label}}</legend>
    {{formInput notes.field value=notes.value enriched=notes.enriched compact=true height=300 toggled=true}}
  </fieldset>

  <fieldset>
    <legend>{{localize "ARTICHRON.SHEET.LEGENDS.configuration"}}</legend>
    {{formGroup compactItems.field value=compactItems.value blank="Default" name="flags.artichron.compactItems" disabled=@root.isPlayMode}}
    {{formGroup pips.field value=pips.value disabled=@root.isPlayMode}}
  </fieldset>

</div>
