<div class="{{tabs.changes.tabCssClass}}" data-group="primary" data-tab="changes">
  <button type="button" data-action="addChange" {{disabled isPlayMode}}>
    <i class="fa-solid fa-plus"></i>
  </button>

  <section class="changes scrollable">
    {{#each changes}}
    <fieldset data-idx="{{idx}}">
      <legend>
        {{#if @root.isEditMode}}
        <div class="controls">
          <button type="button" class="control" data-action="deleteChange" {{disabled @root.isPlayMode}}>
            <i class="fa-solid fa-trash"></i>
          </button>
        </div>
        {{/if}}
        Change {{idx}}
      </legend>
      {{formGroup key.field value=key.value options=key.options name=key.name disabled=key.disabled localize=true}}
      {{formGroup mode.field value=mode.value choices=mode.choices name=mode.name disabled=mode.disabled localize=true}}
      {{formGroup value.field value=value.value name=value.name disabled=value.disabled localize=true}}
    </fieldset>
    {{/each}}
  </section>
</div>
