<div class="tab {{tabs.changes.cssClass}}" data-group="{{tabs.changes.group}}" data-tab="{{tabs.changes.id}}">
  <button type="button" data-action="addChange" {{disabled isPlayMode}}>
    <i class="fa-solid fa-plus"></i>
  </button>

  <section class="changes scrollable">
    {{#each changes}}
    <fieldset data-idx="{{idx}}">
      <legend>
        {{#if @root.isEditMode}}
        <button type="button" class="control" data-action="deleteChange" {{disabled @root.isPlayMode}}>
          <i class="fa-solid fa-trash"></i>
        </button>
        {{/if}}
        Change {{idx}}
      </legend>
      <div class="form-group">
        {{formGroup key.field value=key.value options=key.options name=key.name disabled=key.disabled localize=true classes="label-top"}}
        {{formGroup mode.field value=mode.value choices=mode.choices name=mode.name disabled=mode.disabled localize=true classes="label-top"}}
      </div>
      {{formGroup value.field value=value.value name=value.name disabled=value.disabled localize=true}}
    </fieldset>
    {{/each}}
  </section>
</div>
