<div class="tab identity {{tabs.identity.cssClass}}" data-group="primary" data-tab="identity">
  <fieldset>
    <legend>{{localize "ARTICHRON.SHEET.ACTIVITY.HEADERS.identity"}}</legend>
    {{formGroup fields.name value=source.name placeholder=(localize (concat "TYPES.Activity." pseudoDocument.type)) name="name"}}
    {{formGroup fields.img value=source.img name="img"}}
    {{formGroup fields.description value=source.description enriched=ctx.enriched height=200 toggled=true name="description"}}
  </fieldset>
</div>
