<div class="tab identity {{tabs.identity.cssClass}}" data-group="primary" data-tab="identity">
  <fieldset>
    <legend>{{localize "ARTICHRON.SHEET.LEGENDS.identity"}}</legend>
    {{formGroup name.field value=name.src placeholder=name.placeholder name=name.name}}
    {{formGroup img.field value=img.src name=img.name}}
    {{formGroup description.field value=description.src enriched=description.enriched height=200 toggled=true name=description.name}}
  </fieldset>
</div>
