<div class="standard-form">
  <div class="form-group">
    <label>{{localize "ARTICHRON.Pools.Primary"}}</label>
    <div class="form-fields">
      {{radioBoxes "system.traits.pool" primaryChoices checked=primary localize=true}}
    </div>
  </div>

  {{#each pools}}
  <div class="form-group">
    <label>{{localize label}}</label>
    <div class="form-fields">
      {{formInput value value=current}}
      <span class="sep">/</span>
      {{formInput max value=3 disabled=true}}
    </div>
  </div>
  {{/each}}

  <footer class="form-footer">
    <button type="submit" {{disabled disabled}}>
      <i class="fa-solid fa-save"></i>
      <label>{{localize "Save"}}</label>
    </button>
  </footer>
</div>
