<form>
  {{#each pools as |pool|}}
  <div class="form-group">
    <label>{{localize pool.label}}</label>
    <input class="tiny" type="number" name="{{pool.key}}.max" value="{{pool.max}}" {{disabled maxDis}}>
    <select name="{{pool.key}}.faces" {{disabled faceDis}}>
      {{selectOptions @root.config.DIE_SIZES selected=pool.faces}}
    </select>
  </div>
  {{/each}}

  <button type="submit">
    <i class="fa-solid fa-save"></i> {{localize "Save"}}
  </button>
</form>
