<fieldset>
  <div class="form-group">
    <label>{{localize "ARTICHRON.Pools.Primary"}}</label>
    <div class="form-fields">
      {{radioBoxes "system.traits.pool" primaryChoices checked=primary localize=true}}
    </div>
  </div>

  {{#each pools}}
  <div class="form-group">
    <label>{{localize label}}</label>
    <div class="form-fields">
      {{formInput valueField value=value}}
      <span class="sep">/</span>
      {{formInput maxField value=3 disabled=true}}
    </div>
  </div>
  {{/each}}
</fielset>
