<div class="standard-form" data-action="onChangeSelect">
  {{formField fields.head.fields.faces value=source.system.skills.head.faces label="ARTICHRON.Skills.Head" localize=true}}
  {{formField fields.arms.fields.faces value=source.system.skills.arms.faces label="ARTICHRON.Skills.Arms" localize=true}}
  {{formField fields.legs.fields.faces value=source.system.skills.legs.faces label="ARTICHRON.Skills.Legs" localize=true}}

  <footer class="form-footer">
    <button type="submit" {{disabled disabled}}>
      <i class="fa-solid fa-save"></i>
      <label>{{localize "Save"}}</label>
    </button>
  </footer>
</div>
