<form>
  {{#each rolls as |roll idx|}}
  <div class="form-group input-select" data-idx="{{idx}}">
    <input type="text" name="system.damage.{{idx}}.formula" value="{{roll.formula}}" readonly>
    <select name="system.damage.{{idx}}.type">
      {{selectOptions ../damageTypes selected=roll.type blank="" localize=true labelAttr="label"}}
    </select>
    <label class="checkbox">
      <input type="checkbox" checked {{disabled (not roll.optional)}}>
      {{localize "ARTICHRON.Active"}}
    </label>
  </div>
  {{/each}}
  {{#if isSpell}}
  <div class="form-group">
    <select name="mana" data-dtype="Number">{{selectOptions manaOptions}}</select>
  </div>
  {{/if}}
  {{#if isWeapon}}
  <div class="form-group">
    <select name="stamina" data-dtype="Number">{{selectOptions staminaOptions}}</select>
  </div>
  {{/if}}
  <div class="dialog-buttons">
    <button class="dialog-button" type="submit">
      <i class="fa-solid fa-burst"></i> {{localize "ARTICHRON.Roll"}}
    </button>
  </div>
</form>
