<div class="artichron damage-rolls">
  {{#each rolls}}
  <div class="damage-roll {{roll.type}}" data-total="{{roll.total}}" data-type="{{roll.type}}" data-tooltip="{{type.label}}">
    {{roll.total}}
    <span class="icon"></span>
  </div>
  {{/each}}
</div>
{{#if (gt rolls.length 1)}}
<div class="artichron apply-damage">
  <div class="damage-properties" data-total="{{total}}" data-type="all">
    <button data-action="apply-damage" data-tooltip="ARTICHRON.ApplyDamage">
      <i class="fa-solid fa-burst"></i>
    </button>
    <div class="damage-total">{{total}}</div>
    <div class="damage-type">{{localize "ARTICHRON.DamageTotal"}}</div>
  </div>
</div>
{{/if}}
