<div class="artichron damage-rolls">

  {{#each rolls}}
  <div class="dice-roll">
    <i class="{{config.icon}}" style="color: {{config.color}}"></i>
    <div class="dice-result">
      <div class="dice-formula">{{formula}}</div>
      {{{tooltip}}}
      <h4 class="dice-total">{{total}}</h4>
    </div>
  </div>
  {{/each}}

  <button type="button" class="gold-button" data-action="apply-damage">
    <i class="fa-solid fa-burst"></i>
    {{localize "ARTICHRON.ApplyDamage"}}
  </button>

  {{#if templateData}}
  <button type="button" class="gold-button" data-action="template">
    <i class="fa-solid fa-ruler-combined"></i>
    {{localize "ARTICHRON.PlaceTemplate"}}
  </button>
  {{/if}}

  {{#if targets}}
  <div class="targets">
    {{#each targets}}
    <div class="target" data-token-uuid="{{uuid}}">
      <img src="{{texture.src}}" alt="">
      <span class="name">{{name}}</span>
    </div>
    {{/each}}
  </div>
  {{/if}}

</div>
