<div class="wrapper">
  <header class="header">{{total}}</header>
  <div class="rolls">
    {{#each rolls}}
    <div class="roll">
      <div class="top">
        <span class="icon" data-tooltip="{{label}}">
          <i class="fa-fw fa-solid {{icon}}" style="color: #{{color}}"></i>
        </span>
        <span class="formula">
          {{formula}} {{#if (ne multiplier null)}}<span class="multiplier">(&times;{{multiplier}})</span>{{/if}}
        </span>
        <span class="total">{{total}}</span>
        <div class="pills">
          {{~#each pills}} <div class="pill" data-tooltip="{{this}}">{{this}}</div> {{/each~}}
        </div>
      </div>
      <div class="bottom">
        {{#each dice}}
        <div class="die {{cssClasses}}">{{total}}</div>
        {{/each}}
      </div>
    </div>
    {{/each}}
  </div>
</div>
