<div class="artichron item-usage">

  {{#if rolls.length}}
  {{#each rolls}}
  <div class="dice-roll">
    <i class="{{config.icon}}" style="color: {{config.color}}"></i>
    <div class="dice-result">
      <div class="dice-formula">{{formula}}</div>
      {{{tooltip}}}
      <h4 class="dice-total">{{total}}</h4>
    </div>
  </div>
  {{/each}}
  {{/if}}

  <div class="buttons">

    {{#if isDamage}}
    <button type="button" data-action="applyDamage">
      <i class="fa-solid fa-burst"></i>
      {{localize "ARTICHRON.ChatMessage.ApplyDamage"}}
    </button>
    {{/if}}

    {{#if templateData}}
    <button type="button" data-action="placeTemplate">
      <i class="fa-solid fa-ruler-combined"></i>
      {{localize "ARTICHRON.ChatMessage.PlaceTemplate"}}
    </button>
    {{/if}}

    {{#if effect}}
    <button type="button" data-action="grantBuff">
      <i class="fa-solid fa-bolt"></i>
      {{localize "ARTICHRON.ChatMessage.GrantBuff"}}
    </button>
    {{/if}}

  </div>

  <div class="wrapper">
    <header class="toggle">Click Me!</header>
    <div class="targets"></div>
  </div>

</div>
