<section class="tab {{tabs.activities.cssClass}}" data-group="{{tabs.activities.group}}" data-tab="{{tabs.activities.id}}">
  <div class="document-list activities" data-pseudo-document-name="Activity">

    <button type="button" class="create-document icon fa-solid" data-action="createPseudoDocument" {{disabled isPlayMode}}></button>

    {{#each ctx.activities}}
    <div class="form-group activity" data-pseudo-id="{{activity.id}}">
      <button type="button" data-action="renderPseudoDocumentSheet" {{disabled disabled}}>
        <span class="name">{{name}}</span>
        <span class="subtitle">{{subtitle}}</span>
      </button>
    </div>
    {{/each}}

  </div>
</section>
