<section class="tab {{tabs.details.cssClass}}" data-group="{{tabs.details.group}}" data-tab="{{tabs.details.id}}">
  {{formInput systemFields.attributes.fields.value value=ctx.attributes options=ctx.attrOptions type="checkboxes" disabled=isPlayMode}}

  <h3 class="section-header">{{localize "ARTICHRON.SHEET.ITEM.HEADERS.configuration"}}</h3>
  <div class="form-group">
    <div class="form-fields">
      {{formGroup systemFields.price.fields.value value=(ifThen isPlayMode document.system.price.value source.system.price.value) disabled=isPlayMode rootId=rootId classes="label-top"}}
      {{formGroup systemFields.weight.fields.value value=(ifThen isPlayMode document.system.weight.value source.system.weight.value) disabled=isPlayMode rootId=rootId classes="label-top"}}

      {{#if systemFields.quantity}}
      {{formGroup systemFields.quantity.fields.value value=(ifThen isPlayMode document.system.quantity.value source.system.quantity.value) disabled=isPlayMode rootId=rootId classes="label-top"}}
      {{/if}}
    </div>
  </div>

  {{#if (eq document.type "spell")}}
  {{formGroup systemFields.spell.fields.quality value=(ifThen isPlayMode document.system.spell.quality source.system.spell.quality) disabled=isPlayMode rootId=rootId}}
  {{formGroup systemFields.spell.fields.origin value=(ifThen isPlayMode document.system.spell.origin source.system.spell.origin) disabled=isPlayMode rootId=rootId}}
  {{/if}}

  {{#if ctx.isArmor}}
  {{formGroup systemFields.armor.fields.category value=(ifThen isPlayMode document.system.armor.category source.system.armor.category) disabled=isPlayMode rootId=rootId}}
  {{formGroup systemFields.armor.fields.slot value=(ifThen isPlayMode document.system.armor.slot source.system.armor.slot) disabled=isPlayMode rootId=rootId}}
  {{/if}}

  {{#if ctx.isArmor}}
  {{#if ctx.defenses.length}}
  <h3 class="section-header">{{localize "ARTICHRON.SHEET.ARMOR.HEADERS.defenses"}}</h3>
  <div class="form-group">
    {{#each ctx.defenses}}
    <div class="form-group label-top defense" data-tooltip-text="{{label}}">
      <label>
        <artichron-icon src="{{img}}" style="--icon-fill: #{{color}};"></artichron-icon>
      </label>
      <div class="form-fields">
        {{formInput field value=value disabled=disabled placeholder="0"}}
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

  <div class="document-list armor-requirements" data-pseudo-document-name="ArmorRequirement">
    <h3 class="document-list-header">
      <span>{{localize "ARTICHRON.SHEET.ARMOR.HEADERS.requirements"}}</span>
      <button type="button" class="create-document icon fa-fw fa-solid" data-action="createPseudoDocument" {{disabled (not editable)}}></button>
    </h3>
    {{document-list-entries documents=ctx.requirements classes=""}}
  </div>
  {{/if}}

</section>
