<section class="tab {{tabs.fusion.cssClass}}" data-group="{{tabs.fusion.group}}" data-tab="{{tabs.fusion.id}}">
  <div class="document-list effects fusions" data-document-name="ActiveEffect" data-type="fusion">
    <h3 class="document-list-header">
      <span>{{localize "TYPES.ActiveEffect.fusionPl"}}</span>
      <button type="button" class="icon create-document fa-fw fa-solid" data-action="createEmbeddedDocument" {{disabled (not editable)}}></button>
    </h3>

    {{document-list-entries documents=ctx.fusions}}
  </div>
</section>
