<section class="header">
  {{!-- NAME --}}
  {{#if (and isEditMode editable)}}
  {{formInput fields.name value=source.name placeholder=(localize "Name") classes="name"}}
  {{formInput systemFields.shop.fields.name placeholder=(localize "ARTICHRON.SHEET.MERCHANT.shopName") value=source.system.shop.name}}
  {{else}}
  <h1 class="title">{{document.system.shop.name}}</h1>
  <h3 class="subtitle">{{document.name}}</h3>
  {{/if}}

  {{!-- AVATAR --}}
  <section class="avatar glass">
    {{#if (and isEditMode editable)}}
    <img class="icon" alt="{{source.name}}" src="{{source.img}}" data-edit="img" data-action="editImage">
    {{else}}
    <img class="icon" alt="{{document.name}}" src="{{document.img}}">
    {{/if}}
  </section>
</section>
