<section class="{{tabs.identity.cssClass}}" data-tab="{{tabs.identity.id}}" data-group="{{tabs.identity.group}}">
  {{formGroup fields.name value=source.name placeholder=(localize (concat "TYPES.Advancement." source.type)) name="name" disabled=(not editable)}}
  {{formGroup fields.img value=source.img name="img" disabled=(not editable)}}
</section>
