<section class="tab {{tabs.attributes.cssClass}}" data-group="{{tabs.attributes.group}}" data-tab="{{tabs.attributes.id}}">

  {{!-- FAVORITES --}}
  {{#if ctx.favorites.length}}
  <div class="document-list items" data-document-name="Item">
    <h3 class="document-list-header">
      <span>{{localize "ARTICHRON.SHEET.HERO.HEADERS.favorites"}}</span>
    </h3>

    {{document-list-entries documents=ctx.favorites classes="compact" action="useItem"}}
  </div>
  {{/if}}

  {{!-- SKILLS --}}
  <h3 class="section-header">{{localize "ARTICHRON.SHEET.HERO.HEADERS.skills"}}</h3>
  <div class="skills">
    {{#each ctx.skills}}
    {{#if @root.isEditMode}}
    <a class="skill glass label-top" data-action="configure" data-config="skill" data-skill-id="{{skillId}}">
      <label>{{label}}</label>
      <i class="fa-solid fa-cog fa-fw"></i>
      <span class="value">{{value}}d6</span>
    </a>
    {{else}}
    <artichron-icon class="skill-entry" src="{{img}}" backdrop style="--icon-fill: var(--artichron-color-skill-{{skillId}});" data-action="rollSkill" data-skill-id="{{skillId}}">
      <a class="skill glass">
        <span>{{label}}</span>
        <span>{{value}}d6</span>
      </a>
    </artichron-icon>
    {{/if}}
    {{/each}}
  </div>

</section>
