<section class="tab {{tabs.attributes.cssClass}}" data-group="{{tabs.attributes.group}}" data-tab="{{tabs.attributes.id}}">

  <div class="sections scrollable">

    {{!-- POOLS --}}
    <section>
      <h3 class="section-header">{{localize "ARTICHRON.SHEET.HERO.HEADERS.pools"}}</h3>
      <div class="pools">
        {{#if isEditMode}}
        <a class="edit fa-solid fa-cog" data-action="toggleConfig" data-tooltip="ARTICHRON.POOL.edit" data-trait="pools"></a>
        {{/if}}
        {{#each ctx.pools}}
        <a class="pool die d{{faces}} {{key}}" data-action="rollPool" data-pool="{{key}}" data-tooltip="{{value}} / {{max}} (d{{faces}})">
          <span class="label">{{value}}</span>
        </a>
        {{/each}}
      </div>
    </section>

    {{!-- FAVORITES --}}
    {{#if ctx.favorites.length}}
    <div class="document-list items" data-document-name="Item">
      <h3 class="document-list-header">
        <span>{{localize "ARTICHRON.SHEET.HERO.HEADERS.favorites"}}</span>
      </h3>

      {{document-list-entries documents=ctx.favorites classes="compact" action="useItem"}}
    </div>
    {{/if}}

    {{!-- SKILLS --}}
    <section>
      <h3 class="section-header">{{localize "ARTICHRON.SHEET.HERO.HEADERS.skills"}}</h3>
      <div class="skills">
        {{#each ctx.skills}}
        {{#if @root.isEditMode}}
        <a class="skill label-top" data-action="configure" data-config="skill" data-skill-id="{{skillId}}">
          <label>{{label}}</label>
          <i class="fa-solid fa-cog"></i>
          <span class="value">{{value}}d6</span>
        </a>
        {{else}}
        <a class="skill label-top" data-action="rollSkill" data-skill-id="{{skillId}}">
          <label>{{label}}</label>
          <img src="{{img}}" alt="{{label}}">
          <span class="value">{{value}}d6</span>
        </a>
        {{/if}}
        {{/each}}
      </div>
    </section>

  </div>

</section>
