<section class="header">
  {{#if (and isPlayMode editable)}}
  <h1 class="name">{{document.name}}</h1>
  <img class="avatar" alt="{{document.name}}" src="{{document.img}}">
  {{else}}
  {{formInput fields.name value=source.name placeholder=(localize "Name")}}
  <img class="avatar" alt="{{source.name}}" src="{{source.img}}" data-edit="img" data-action="editImage">
  {{/if}}

  {{#if ctx.paths.length}}
  <div class="hero-paths">
    {{#each ctx.paths}}
    <span class="tag">{{label}}</span>
    {{/each}}
  </div>
  {{/if}}
</section>
