<section class="tab {{tabs.inventory.cssClass}}" data-group="{{tabs.inventory.group}}" data-tab="{{tabs.inventory.id}}">

  <section class="equipment">
    {{#each ctx.equipment}}
    <div class="equipment-item {{#unless equipped}} unequipped {{/unless}}">
      {{#if isSvg}} <artichron-icon class="image" src="{{img}}"></artichron-icon>
      {{else}}
      <img class="image" src="{{img}}" alt="">
      {{/if}}
    </div>
    {{/each}}
  </section>

  <search>
    <input type="search" id="inventory-search" placeholder="{{localize 'SIDEBAR.Search' types=(localize 'DOCUMENT.Items')}}" value="{{ctx.searchQuery}}">
  </search>

  <div class="document-list scrollable items" data-document-name="Item" data-types-section="inventory">
    <h3 class="document-list-header">
      <span>{{localize "ARTICHRON.SHEET.HERO.HEADERS.inventory"}}</span>
      <button type="button" class="create-document fa-solid icon" data-action="createEmbeddedDocument" {{disabled (not editable)}}></button>
    </h3>
    {{document-list-entries classes="scrollable" documents=ctx.items action="useItem"}}
  </div>

  <section class="encumbrance" style="--bar-width: {{ctx.encumbrance}}%;">
    {{document.system.encumbrance.value}} / {{document.system.encumbrance.max}}</div>
  </section>

</section>
