<section class="tab {{tabs.inventory.cssClass}}" data-group="{{tabs.inventory.group}}" data-tab="{{tabs.inventory.id}}">

  <search>
    <input type="search" id="inventory-search" placeholder="{{localize 'SIDEBAR.Search' types=(localize 'DOCUMENT.Items')}}" value="{{ctx.searchQuery}}">
  </search>

  <div class="document-list scrollable items" data-document-name="Item">
    <h3 class="document-list-header">
      <span>{{localize "ARTICHRON.SHEET.HERO.HEADERS.inventory"}}</span>
      <button type="button" class="create-document fa-solid icon" data-action="createEmbeddedDocument" {{disabled isPlayMode}}></button>
    </h3>

    <div class="document-list-entries compact scrollable">
      {{#each ctx.items}}
      <div class="entry button" data-id="{{item.id}}" data-action="useItem">
        <img src="{{item.img}}" alt="{{item.name}}" class="icon">
        <span class="title">{{item.name}}</span>
        <span class="subtitle">{{localize (concat "TYPES.Item." item.type)}}</span>
      </div>
      {{/each}}
    </div>
  </div>

</section>
