<section class="tab {{tabs.progression.cssClass}}" data-group="{{tabs.progression.group}}" data-tab="{{tabs.progression.id}}">

  {{#if (and editable isEditMode)}}
  <button type="button" data-action="advancementDialog">
    <i class="fa-solid fa-circle-nodes"></i>
    <span>{{localize "ARTICHRON.SHEET.HERO.advance"}}</span>
  </button>
  {{/if}}

  <div class="document-list items progression" data-document-name="Item">
    {{#each ctx.paths}}
    <h3 class="document-list-header">
      <span>{{label}}</span>
    </h3>

    {{document-list-entries documents=items classes="compact"}}
    {{/each}}
  </div>

  {{!-- Display action to add path. --}}
  {{#if (and ctx.droparea editable)}}
  <section class="progression actions">
    <div class="drop-target-area empty" style="--height: 150;">
      <p>{{localize "ARTICHRON.SHEET.HERO.dropPath"}}</p>
    </div>
  </section>
  {{/if}}
</section>
