<div class="{{tabs.effects.tabCssClass}}" data-group="primary" data-tab="effects">

  <div class="effects-list">

    {{#if conditions.length}}
    <header>
      <span class="label">{{localize "ARTICHRON.SheetLabels.Conditions"}}</span>
      <span class="controls" style="margin-left: 2px;"></span>
    </header>

    {{#each conditions}}
    {{effectEntry effect enriched=enrichedText}}
    {{/each}}
    {{/if}}

    {{#if isItem}}

    <header>
      <span class="label">{{localize "TYPES.ActiveEffect.enhancementPl"}}</span>
      {{#if @root.isEditMode}}
      <button class="controls" type="button" data-action="createEffect" data-tooltip="ARTICHRON.SheetActions.CreateEnhancement" data-type="enhancement">
        <i class="fa-solid fa-plus"></i>
      </button>
      {{else}}
      <span class="controls" style="margin-left: 2px;"></span>
      {{/if}}
    </header>

    {{#each enhancements}}
    {{effectEntry effect enriched=enrichedText}}
    {{/each}}

    {{/if}}

    <header>
      <span class="label">{{localize "ARTICHRON.SheetLabels.Buffs"}}</span>
      <span class="source">{{localize "ARTICHRON.SheetLabels.Source"}}</span>
      {{#if @root.isEditMode}}
      <button class="controls" type="button" data-action="createEffect" data-tooltip="ARTICHRON.SheetActions.CreateBuff" data-type="buff">
        <i class="fa-solid fa-plus"></i>
      </button>
      {{else}}
      <span class="controls" style="margin-left: 2px;"></span>
      {{/if}}
    </header>

    {{#each effects}}
    {{effectEntry effect enriched=enrichedText}}
    {{/each}}
  </div>

</div>
