<div class="{{tabs.effects.tabCssClass}}" data-group="primary" data-tab="effects">

  <div class="effects-list">

    {{#if conditions.length}}
    <header>
      <span class="label">{{localize "ARTICHRON.Effect.Conditions"}}</span>
      <span class="controls" style="margin-left: 2px;"></span>
    </header>

    {{#each conditions}}
    {{effectEntry effect enriched=enrichedText}}
    {{/each}}
    {{/if}}

    {{#if (and canFuse activeFusions.length)}}

    <header>
      <span class="label">{{localize "ARTICHRON.Effect.ActiveFusions"}}</span>
      <span class="source">{{localize "ARTICHRON.Effect.Source"}}</span>
      <span class="controls" style="margin-left: 2px;"></span>
    </header>

    {{#each activeFusions}}
    {{effectEntry effect enriched=enrichedText}}
    {{/each}}

    {{/if}}

    {{#if isItem}}

    <header>
      <span class="label">{{localize "TYPES.ActiveEffect.enhancementPl"}}</span>
      <button class="controls" type="button" data-action="createEffect" data-tooltip="ARTICHRON.SheetActions.CreateEnhancement" data-type="enhancement">
        <i class="fa-solid fa-plus"></i>
      </button>
    </header>

    {{#each enhancements}}
    {{effectEntry effect enriched=enrichedText}}
    {{/each}}

    {{/if}}

    <header>
      <span class="label">{{localize "ARTICHRON.Effect.Buffs"}}</span>
      <span class="source">{{localize "ARTICHRON.Effect.Source"}}</span>
      <button class="controls" type="button" data-action="createEffect" data-tooltip="ARTICHRON.SheetActions.CreateBuff" data-type="buff">
        <i class="fa-solid fa-plus"></i>
      </button>
    </header>

    {{#each effects}}
    {{effectEntry effect enriched=enrichedText}}
    {{/each}}

    {{#if canFuse}}
    <header>
      <span class="label">{{localize "ARTICHRON.Effect.FusionOptions"}}</span>
      <span class="source"></span>
      <button class="controls" type="button" data-action="createEffect" data-tooltip="ARTICHRON.SheetActions.CreateFusion" data-type="fusion">
        <i class="fa-solid fa-plus"></i>
      </button>
    </header>

    {{#each fusions}}
    {{effectEntry effect enriched=enrichedText}}
    {{/each}}
    {{/if}}

  </div>

</div>
