<div class="tab {{tabs.effects.cssClass}}" data-group="{{tabs.effects.group}}" data-tab="{{tabs.effects.id}}">

  {{#if conditions.length}}
  <div class="effects-list">
    <header>{{localize "TYPES.ActiveEffect.conditionPl"}}</header>
    {{#each conditions}}
    {{effectEntry effect enriched=enrichedText}}
    {{/each}}
  </div>
  {{/if}}

  {{#if isItem}}
  <div class="effects-list">
    <header>{{localize "TYPES.ActiveEffect.enhancementPl"}}</header>

    {{#each enhancements}}
    {{effectEntry effect enriched=enrichedText}}
    {{/each}}

    <button class="create icon fa-solid fa-plus" type="button" data-action="createEffect" data-tooltip="ARTICHRON.EFFECT.ENHANCEMENT.create" data-type="enhancement" {{disabled @root.isPlayMode}}></button>
  </div>
  {{/if}}

  <div class="effects-list">
    <header>{{localize "TYPES.ActiveEffect.buffPl"}}</header>

    {{#each effects}}
    {{effectEntry effect enriched=enrichedText}}
    {{/each}}

    <button class="create icon fa-solid fa-plus" type="button" data-action="createEffect" data-tooltip="ARTICHRON.EFFECT.BUFF.create" data-type="buff" {{disabled @root.isPlayMode}}></button>
  </div>

</div>
