<header class="header">
  {{#if isPlayMode}}
  <h1 class="name">{{header.name}}</h1>
  {{else}}
  <input class="name" name="name" type="text" value="{{header.name}}" placeholder="{{localize 'Name'}}" {{disabled isPlayMode}}>
  {{/if}}
  <img class="avatar" data-edit="img" alt="{{actor.name}}" src="{{header.img}}" {{#if isEditMode}}data-action="editImage" style="cursor: var(--cursor-pointer);"{{/if}}>
</header>
