<div class="tab details {{tabs.details.cssClass}}" data-group="primary" data-tab="details">
  <fieldset>
    <legend>{{cost.legend}}</legend>
    {{formGroup cost.field value=cost.value}}
  </fieldset>

  {{#if target.show}}
  <fieldset>
    <legend>{{target.legend}}</legend>
    {{formGroup target.type.field value=target.type.value options=target.type.options}}
    {{#if target.fields.length}}
    {{#each target.fields}}
    {{formGroup field value=value}}
    {{/each}}
    {{/if}}
  </fieldset>
  {{/if}}

  {{#if damage.show}}
  <fieldset>
    <legend>
      {{damage.legend}}
      <button class="control" type="button" data-action="addDamage">
        <i class="fa-solid fa-plus"></i>
      </button>
    </legend>
    {{#each damage.damages}}
    <div class="form-group damage" data-id="{{damage.id}}">
      {{#each fields}}
      {{formGroup field name=name value=value classes=classes}}
      {{/each}}
      <button type="button" class="control" data-action="deleteDamage">
        <i class="fa-solid fa-minus"></i>
      </button>
    </div>
    {{/each}}
  </fieldset>
  {{/if}}

  {{#if defend.show}}
  <fieldset>
    <legend>{{defend.legend}}</legend>
    <div class="form-group">
      <label>{{localize "ARTICHRON.SheetLabels.Formula"}}</label>
      <div class="form-fields">
        {{formGroup defend.number.field value=defend.number.value classes="label-top"}}
        {{formGroup defend.denomination.field value=defend.denomination.value classes="label-top"}}
      </div>
    </div>
  </fieldset>
  {{/if}}

  {{#if healing.show}}
  <fieldset>
    <legend>{{healing.legend}}</legend>
    <div class="form-group">
      <label>{{localize "ARTICHRON.SheetLabels.Formula"}}</label>
      <div class="form-fields">
        {{formGroup healing.number.field value=healing.number.value classes="label-top"}}
        {{formGroup healing.denomination.field value=healing.denomination.value classes="label-top"}}
      </div>
    </div>
  </fieldset>
  {{/if}}

  {{#if effects.show}}
  <fieldset>
    <legend>{{effects.legend}}</legend>
    {{formGroup effects.ids.field value=effects.ids.value options=effects.ids.choices classes="stacked"}}
  </fieldset>
  {{/if}}

  {{#if teleport.show}}
  <fieldset>
    <legend>{{teleport.legend}}</legend>
    {{formGroup teleport.distance.field value=teleport.distance.value}}
  </fieldset>
  {{/if}}
</div>
