<div class="tab details {{tabs.details.cssClass}}" data-group="primary" data-tab="details">
  <fieldset>
    <legend>{{cost.legend}}</legend>
    {{formGroup cost.field value=cost.value}}
  </fieldset>

  {{#if target.show}}
  <fieldset>
    <legend>{{target.legend}}</legend>
    {{formGroup target.type.field value=target.type.value options=target.type.options}}
    {{#if target.fields.length}}
    {{#each target.fields}}
    {{formGroup field value=value}}
    {{/each}}
    {{/if}}
  </fieldset>
  {{/if}}

  {{#if damage.show}}
  <fieldset>
    <legend>
      {{damage.legend}}
      <button class="control" type="button" data-action="addDamage">
        <i class="fa-solid fa-plus"></i>
      </button>
    </legend>
    {{#each damage.values}}
    <div class="form-group" data-idx="{{idx}}">
      {{formGroup @root.damage.number value=number classes="label-top" name=nameN}}
      {{formGroup @root.damage.denomination value=denomination classes="label-top" name=nameD}}
      {{formGroup @root.damage.type options=@root.damage.options value=type classes="label-top" name=nameT}}
      <button type="button" class="control" data-action="deleteDamage">
        <i class="fa-solid fa-minus"></i>
      </button>
    </div>
    {{/each}}
  </fieldset>
  {{/if}}

  {{#if ammunition.show}}
  <fieldset>
    <legend>{{ammunition.legend}}</legend>
    {{formGroup ammunition.type.field value=ammunition.type.value}}
  </fieldset>
  {{/if}}

  {{#if defend.show}}
  <fieldset>
    <legend>{{defend.legend}}</legend>
    {{formGroup defend.formula.field value=defend.formula.value}}
  </fieldset>
  {{/if}}

  {{#if healing.show}}
  <fieldset>
    <legend>{{healing.legend}}</legend>
    {{formGroup healing.formula.field value=healing.formula.value}}
  </fieldset>
  {{/if}}

  {{#if effects.show}}
  <fieldset>
    <legend>{{effects.legend}}</legend>
    {{formGroup effects.ids.field value=effects.ids.value options=effects.ids.choices classes="stacked"}}
  </fieldset>
  {{/if}}

  {{#if teleport.show}}
  <fieldset>
    <legend>{{teleport.legend}}</legend>
    {{formGroup teleport.distance.field value=teleport.distance.value}}
  </fieldset>
  {{/if}}
</div>
