<div class="tab details {{tabs.details.cssClass}}" data-group="primary" data-tab="details">
  <fieldset>
    <legend>{{cost.legend}}</legend>
    {{formGroup cost.field value=cost.src name=cost.name}}
    {{#if usage.show}}
    {{formGroup usage.field value=usage.src name=usage.name}}
    {{/if}}
  </fieldset>

  {{#if target.show}}
  <fieldset>
    <legend>{{target.legend}}</legend>
    {{formGroup target.type.field value=target.type.src options=target.type.options name=target.type.name}}
    {{#if target.fields.length}}
    {{#each target.fields}}
    {{formGroup field value=src name=name}}
    {{/each}}
    {{/if}}
  </fieldset>
  {{/if}}

  {{#if damage.show}}
  <fieldset>
    <legend>
      {{localize "ARTICHRON.SHEET.LEGENDS.damage"}}
      <button class="icon fa-regular fa-plus-square" type="button" data-action="addDamage"></button>
    </legend>
    {{#each damage.damages}}
    <div class="form-group damage" data-id="{{damage.id}}">
      {{#each fields}}
      {{!-- FIXME: Redundant labels once core fixes i18n bug --}}
      {{formGroup field name=name value=value classes=classes options=options label=label}}
      {{/each}}
      <button type="button" class="control" data-action="deleteDamage">
        <i class="fa-solid fa-minus"></i>
      </button>
      <button type="button" class="control" data-action="showDamage">
        <i class="fa-solid fa-cog"></i>
      </button>
    </div>
    {{/each}}
  </fieldset>
  {{/if}}

  {{#if defend.show}}
  <fieldset>
    <legend>{{defend.legend}}</legend>
    <div class="form-group">
      <label>{{localize "ARTICHRON.ACTIVITY.LABELS.defendFormula"}}</label>
      <div class="form-fields">
        {{#with defend}}
        {{formGroup number.field value=number.src classes="label-top" name=number.name}}
        {{formGroup denomination.field value=denomination.src classes="label-top" name=denomination.name}}
        {{/with}}
      </div>
    </div>
  </fieldset>
  {{/if}}

  {{#if healing.show}}
  {{#with healing}}
  <fieldset>
    <legend>{{legend}}</legend>
    <div class="form-group">
      <label>{{localize "ARTICHRON.ACTIVITY.LABELS.healingFormula"}}</label>
      <div class="form-fields">
        {{formGroup number.field value=number.src classes="label-top" name=number.name}}
        {{formGroup denomination.field value=denomination.src classes="label-top" name=denomination.name}}
      </div>
    </div>
  </fieldset>
  {{/with}}
  {{/if}}

  {{#if effects.show}}
  <fieldset>
    <legend>{{effects.legend}}</legend>
    {{formGroup effects.ids.field value=effects.ids.src options=effects.ids.choices classes="stacked" name=effects.ids.name}}
  </fieldset>
  {{/if}}

  {{#if teleport.show}}
  <fieldset>
    <legend>{{teleport.legend}}</legend>
    {{formGroup teleport.distance.field value=teleport.distance.src name=teleport.distance.name}}
  </fieldset>
  {{/if}}
</div>
