<div class="{{tabs.details.tabCssClass}}" data-group="primary" data-tab="details">

  <fieldset class="attributes">
    {{#with details.attributes}}
    <legend>{{field.label}}</legend>
    {{formInput field value=value disabled=disabled type=type}}
    <p class="hint">{{field.hint}}</p>
    {{/with}}
  </fieldset>

  {{#if details.configuration.length}}
  <fieldset>
    <legend>{{localize "ARTICHRON.ItemProperty.Fieldsets.Configuration"}}</legend>
    {{#each details.configuration}}
    {{formGroup field value=value disabled=disabled}}
    {{/each}}
  </fieldset>
  {{/if}}

  {{#if details.handling.length}}
  <fieldset>
    <legend>{{localize "ARTICHRON.ItemProperty.Fieldsets.Handling"}}</legend>
    {{#each details.handling}}
    {{formGroup field value=value disabled=disabled}}
    {{/each}}
  </fieldset>
  {{/if}}

</div>
