<form autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" data-tooltip="{{item.name}}" height="100" width="100">
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}">
      </h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "ARTICHRON.SheetTabAttributes"}}</a>
    <a class="item" data-tab="effects">{{localize "ARTICHRON.SheetTabEffects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Tabs --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <section class="traits">
        {{> "systems/artichron/templates/partials/item-type.hbs"}}
      </section>

      <section class="damages">
        {{> "systems/artichron/templates/partials/damage.hbs"}}
      </section>
    </div>

  </section>
</form>
