<div class="{{tabs.details.tabCssClass}} standard-form" data-group="primary" data-tab="details">
  <fieldset class="attributes">
    <legend>{{localize "ARTICHRON.ItemProperty.Fieldsets.Attributes"}}</legend>
    {{#with details.attributes}}
    <div class="form-group">
      {{formInput field value=value disabled=disabled localize=true type=type}}
      <p class="hint">{{localize field.hint}}</p>
    </div>
    {{/with}}
  </fieldset>

  {{#if details.configuration.length}}
  <fieldset>
    <legend>{{localize "ARTICHRON.ItemProperty.Fieldsets.Configuration"}}</legend>
    {{#each details.configuration}}
    {{formGroup field value=value disabled=disabled localize=true blank=blank label=label hint=hint}}
    {{/each}}
  </fieldset>
  {{/if}}

  {{#if details.handling.length}}
  <fieldset>
    <legend>{{localize "ARTICHRON.ItemProperty.Fieldsets.Handling"}}</legend>
    {{#each details.handling}}
    {{formGroup field value=value disabled=disabled localize=true}}
    {{/each}}
  </fieldset>
  {{/if}}

  {{#if document.isEmbedded}}
  <div class="form-group">
    <label>{{localize "ARTICHRON.ItemProperty.Favorited"}}</label>
    <a class="action" data-action="favoriteItem">
      <i class="fa-{{ifThen isFavorited 'solid' 'regular'}} fa-star"></i>
    </a>
  </div>
  {{/if}}

</div>
