<form autocomplete="off" class="{{ifThen sheet.isPlayMode 'play-mode' 'edit-mode'}}">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{document.img}}" data-edit="img" data-tooltip="{{document.name}}">
    <input class="charname" name="name" type="text" value="{{document.name}}" placeholder="{{localize 'Name'}}">
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "ARTICHRON.SheetTab.Description"}}</a>
    <a class="item" data-tab="attributes">{{localize "ARTICHRON.SheetTab.Attributes"}}</a>
    <a class="item" data-tab="effects">{{localize "ARTICHRON.SheetTab.Effects"}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Tabs --}}
    <div class="tab description" data-group="primary" data-tab="description">
      <section class="description">
        {{editor descriptions.value target="system.description.value" rollData=rollData button=false owner=owner editable=@root.isEditMode engine="prosemirror"}}
      </section>
    </div>

    <div class="tab attributes" data-group="primary" data-tab="attributes">
      <section class="traits">
        {{> "systems/artichron/templates/partials/item-type.hbs"}}
      </section>
      {{#if context.sections.damage}}
      <section class="damages">
        {{> "systems/artichron/templates/partials/item-damages.hbs"}}
      </section>
      {{/if}}
      {{#if context.sections.resistances}}
      <section class="resistances">
        {{> "systems/artichron/templates/partials/item-resistances.hbs"}}
      </section>
      {{/if}}
      {{#if context.sections.armor}}
      <section class="defenses">
        {{> "systems/artichron/templates/partials/item-defenses.hbs"}}
      </section>
      {{/if}}
    </div>

    <div class="tab effects" data-group="primary" data-tab="effects">
      {{> "systems/artichron/templates/partials/item-effects.hbs" sections=context.effects}}
    </div>

  </section>
</form>
