<div class="{{tabs.secondary.tabCssClass}}" data-group="primary" data-tab="secondary">
  {{#each fieldsets}}
  <fieldset>
    <legend>{{legend}}</legend>
    {{#each formGroups}}
    {{formGroup field value=value disabled=disabled max=max}}
    {{/each}}
  </fieldset>
  {{/each}}

  {{#if resistances}}
  <fieldset class="resistances">
    <legend>{{resistances.legend}}</legend>
    {{#each resistances.values}}
    <div class="resistance {{#if active}} active {{/if}}" data-tooltip="{{label}}" style="color: #{{color}}">
      {{#if @root.isEditMode}}
      {{formInput field value=value}}
      {{else}}
      <span class="total">{{ifThen value value 0}}</span>
      {{/if}}
      <i class="{{icon}}"></i>
    </div>
    {{/each}}
  </fieldset>
  {{/if}}

  {{#if isAmmo}}
  <fieldset>
    <legend>{{localize "ARTICHRON.ItemProperty.Fieldsets.DamageOverrides"}}</legend>
    {{#with damages.override}}
    {{formGroup group.field value=group.value disabled=group.disabled}}
    {{formGroup value.field value=value.value disabled=value.disabled options=@root.damageTypes}}
    {{/with}}
  </fieldset>
  {{/if}}

  {{#if sections.damage}}
  <fieldset class="damage">
    <legend>
      {{damages.label}}
      {{#if isEditMode}}
      <a class="action" data-action="addDamage"><i class="fa-solid fa-plus"></i></a>
      {{/if}}
    </legend>

    {{#each damages.parts}}
    <div class="form-group damage" data-id="{{id.value}}">
      <div class="form-fields">
        <input type="text" name="{{id.name}}" value="{{id.value}}" hidden readonly>
        {{formInput formula.field value=formula.value disabled=formula.disabled name=formula.name}}
        {{formInput type.field value=type.value disabled=type.disabled name=type.name options=type.options}}
      </div>
      {{#if @root.isEditMode}}
      <div class="controls">
        <button type="button" class="control" data-action="deleteDamage">
          <i class="fa-solid fa-minus"></i>
        </button>
      </div>
      {{/if}}
    </div>
    {{/each}}
  </fieldset>

  {{#unless isAmmo}}
  <fieldset class="bonuses">
    <legend>{{damageBonuses.label}}</legend>
    {{#each damageBonuses.bonuses}}
    <div class="resistance {{#if active}} active {{/if}}" data-tooltip="{{label}}" style="color: #{{color}}">
      {{#if @root.isEditMode}}
      {{formInput field value=value}}
      {{else}}
      <span class="total">{{value}}</span>
      {{/if}}
      <i class="{{icon}}"></i>
    </div>
    {{/each}}
  </fieldset>
  {{/unless}}

  {{/if}}
</div>
