<div class="tab {{tabs.fusion.cssClass}}" data-group="{{tabs.fusion.group}}" data-tab="{{tabs.fusion.id}}">
  <fieldset>
    <legend>{{fusionFields.label}}</legend>
    {{#with fusionFields.ignore}}
    {{formGroup field value=value options=choices type="checkboxes" classes="stacked" disabled=@root.isPlayMode sort=true}}
    {{/with}}
    {{#with fusionFields.max}}
    {{formGroup field value=value disabled=@root.isPlayMode}}
    {{/with}}
  </fieldset>

  <div class="effects-list">
    {{#if activeFusions.length}}
    <header>
      <span class="label">{{localize "ARTICHRON.SheetLabels.ActiveFusions"}}</span>
      <span class="source">{{localize "ARTICHRON.SheetLabels.Source"}}</span>
      <span class="controls" style="margin-left: 2px;"></span>
    </header>

    {{#each activeFusions}}
    {{effectEntry effect enriched=enrichedText}}
    {{/each}}

    {{/if}}

    {{#if document.hasFusions}}
    <header>
      <span class="label">{{localize "ARTICHRON.SheetLabels.FusionOptions"}}</span>
      <span class="source"></span>
      {{#if @root.isEditMode}}
      <button class="controls" type="button" data-action="createEffect" data-tooltip="ARTICHRON.SheetActions.CreateFusion" data-type="fusion">
        <i class="fa-solid fa-plus"></i>
      </button>
      {{else}}
      <span class="controls" style="margin-left: 2px;"></span>
      {{/if}}
    </header>

    {{#each fusions}}
    {{effectEntry effect enriched=enrichedText}}
    {{/each}}
    {{/if}}

  </div>
</div>
