<fieldset>
  <legend>{{localize "ARTICHRON.ItemProperty.Fieldsets.Properties"}}</legend>
  {{#if sections.category}}
  {{formGroup category.field value=category.value disabled=category.disabled localize=true blank=false}}
  {{#if sections.categoryPool}}
  {{#with categoryPool}}
  {{formGroup field value=value disabled=disabled localize=true blank=false label=label hint=hint}}
  {{/with}}
  {{/if}}
  {{/if}}

  {{#if sections.price}}
  {{formGroup price.field value=price.value disabled=price.disabled localize=true}}
  {{/if}}

  {{#if sections.weight}}
  {{formGroup weight.field value=weight.value disabled=weight.disabled localize=true}}
  {{/if}}

  {{#if sections.quantity}}
  {{formGroup quantity.field value=quantity.value disabled=quantity.disabled localize=true}}
  {{/if}}
</fieldset>

{{#if (or sections.wield sections.range sections.template)}}
<fieldset>
  <legend>{{localize "ARTICHRON.ItemProperty.Fieldsets.Handling"}}</legend>
  {{#if sections.wield}}
  {{formGroup wield.field value=wield.value disabled=wield.disabled localize=true}}
  {{/if}}

  {{#if sections.range}}
  {{formGroup range.field value=range.value disabled=range.disabled localize=true}}
  {{/if}}

  {{#if sections.template}}
  {{formGroup template.field value=template.value disabled=template.disabled localize=true}}
  {{/if}}
</fieldset>
{{/if}}

{{#if sections.blast}}
<fieldset class="blast">
  <legend>{{localize "ARTICHRON.ItemProperty.Fieldsets.BlastZone"}}</legend>
  {{formGroup blastSize.field value=blastSize.value disabled=blastSize.disabled localize=true}}
  {{formGroup blastType.field value=blastType.value disabled=blastType.disabled localize=true}}
</fieldset>
{{/if}}

{{#if sections.usage}}
<fieldset class="usage">
  <legend>{{localize "ARTICHRON.ItemProperty.Fieldsets.LimitedUses"}}</legend>
  {{formGroup usage.value.field value=usage.value.value disabled=usage.value.disabled localize=true max=usage.value.max}}
  {{formGroup usage.max.field value=usage.max.value disabled=usage.max.disabled localize=true}}
</fieldset>
{{/if}}

{{#if sections.armor}}
<fieldset class="armor">
  <legend>{{localize "ARTICHRON.ItemProperty.Fieldsets.Defenses"}}</legend>
  {{formGroup armor.field value=armor.value disabled=armor.disabled localize=true}}
</fieldset>
{{/if}}

{{#if isAmmo}}
<fieldset class="damage">
  <legend>{{localize "ARTICHRON.ItemProperty.Fieldsets.DamageOverrides"}}</legend>
  {{#with damages.override}}
  {{formGroup group.field value=group.value disabled=group.disabled localize=true}}
  {{formGroup value.field value=value.value disabled=value.disabled localize=true options=@root.damageTypes}}
  {{/with}}
</fieldset>
{{/if}}

{{#if document.isEmbedded}}
<div class="form-group">
  <label>{{localize "ARTICHRON.ItemProperty.Favorited"}}</label>
  <a class="action" data-action="favoriteItem">
    <i class="fa-{{ifThen isFavorited 'solid' 'regular'}} fa-star"></i>
  </a>
</div>
{{/if}}
