<div class="tab {{tabs.activities.cssClass}}" data-group="{{tabs.activities.group}}" data-tab="{{tabs.activities.id}}">
  <fieldset class="activities">
    <legend>
      {{localize "ARTICHRON.SHEET.LEGENDS.activities"}}
      {{#if isEditMode}}
      <button type="button" class="icon fa-regular fa-plus-square" data-action="createActivity"></button>
      {{/if}}
    </legend>
    {{#each activities}}
    <div class="form-group activity" data-activity-id="{{id}}">
      <button type="button" data-action="renderActivity" {{disabled disabled}}>
        <span class="name">{{name}}</span>
        <span class="subtitle">{{subtitle}}</span>
      </button>
    </div>
    {{/each}}
  </fieldset>
</div>
