<div class="{{tabs.details.tabCssClass}} standard-form" data-group="primary" data-tab="details">
  <fieldset class="attributes">
    {{#with details.attributes}}
    <legend>{{field.label}}</legend>
    {{formGroup field value=value disabled=disabled type=type classes="stacked" label=""}}
    {{/with}}
  </fieldset>

  {{#if details.configuration.length}}
  <fieldset>
    <legend>{{localize "ARTICHRON.ItemProperty.Fieldsets.Configuration"}}</legend>
    {{#each details.configuration}}
    {{formGroup field value=value disabled=disabled localize=true blank=blank label=label hint=hint}}
    {{/each}}
  </fieldset>
  {{/if}}

  {{#if details.handling.length}}
  <fieldset>
    <legend>{{localize "ARTICHRON.ItemProperty.Fieldsets.Handling"}}</legend>
    {{#each details.handling}}
    {{formGroup field value=value disabled=disabled localize=true}}
    {{/each}}
  </fieldset>
  {{/if}}

</div>
