<section class="item-banner">

  <img class="image" src="{{item.img}}" alt="{{item.name}}">

  <div class="name">
    <span class="title">{{item.name}}</span>
    <span class="subtitle">{{subtitle}}</span>
  </div>

  <div class="description">{{{enriched}}}</div>

</section>

<section class="item-details">

  <div class="tags">
    <div class="subtitle">
      {{#each tags}}
      <div class="tag">{{label}}</div>
      {{/each}}
    </div>
  </div>

  <div class="damages">
    <div class="formulas">
      <div class="title">Damage</div>
      <div class="subtitle">
        {{#each damages}}
        <div class="tag" style="color: #{{config.color}}">{{formula}} <i class="fa-fw {{config.icon}}"></i></div>
        {{/each}}
      </div>
    </div>
    <div class="bonuses">
      {{#each bonuses}}
      <div class="tag" style="color: #{{config.color}}">+{{value}}% <i class="fa-fw {{config.icon}}"></i></div>
      {{/each}}
    </div>
  </div>

  <div class="properties" style="--length: {{properties.length}};">
    {{#each properties}}
    <div class="property">
      <div class="title">{{title}}</div>
      <div class="subtitle">{{label}} <i class="fa-fw {{icon}}"></i></div>
    </div>
    {{/each}}
  </div>

</section>
