<section class="tab {{tabs.advancements.cssClass}}" data-group="{{tabs.advancements.group}}" data-tab="{{tabs.advancements.id}}">

  <div class="document-list advancements" data-pseudo-document-name="Advancement">
    <h3 class="document-list-header">
      <span>{{localize "ARTICHRON.SHEET.TALENT.HEADERS.advancements"}}</span>
      <button type="button" class="create-document icon fa-solid" data-action="createPseudoDocument" {{disabled isPlayMode}}></button>
    </h3>

    {{#each ctx.advancements}}
    <h4 class="document-list-header">
      <span>{{label}}</span>
    </h4>
    {{document-list-entries documents=entries}}
    {{/each}}

  </div>
</section>
